@import '../css/reset.css';
/*---------------------end-----------------------------*/
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
header {
  background-color: #F29441;
  height: 70px;
  color: #fff;
  font-family: "Noto Sans TC";
  font-size: 20px;
  letter-spacing: 0.1em;
}

.header_nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header_nav_logo {
  display: inline-block;
  padding-top: 13px;
}

.header_nav_right {
  display: flex;
}

.header_nav_right > li {
  margin-left: 40px;
  position: relative;
}

.header_nav_right_inputBox {
  position: relative;
}

.header_nav_right_inputBox::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #F29441;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.header_nav_right_inputBox-input {
  display: block;
  box-sizing: border-box;
  border: 0;
  height: 34px;
  border-radius: 10px;
  width: 240px;
  margin-top: 16px;
  font-size: 18px;
  padding-left: 38px;
  color: #513F2E;
}

.header_nav_right_inputBox-input:focus {
  outline: none;
}

.header_nav_right > li > a {
  color: #fff;
  line-height: 70px;
  transition: 0.2s;
}

.header_nav_right > li:hover > a {
  color: #513F2E;
}

.header_nav_right .fa-regular {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.header_nav_right > li > ol {
  height: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: #F29441;
  width: 120px;
  text-align: center;
  transition: 0.3s;
}

.header_nav_right > li > ol a {
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  transition: 0.2s;
}

.header_nav_right > li:nth-child(2):hover > ol {
  height: 350px;
}

.header_nav_right > li:nth-child(3):hover > ol {
  height: 200px;
}

.header_nav_right > li > ol a:hover {
  background-color: #F2F2F2;
  color: #513F2E;
}

footer {
  background-color: #F29441;
  height: 250px;
  color: #fff;
  font-family: "Noto Sans TC";
  font-size: 20px;
  letter-spacing: 0.1em;
}

.footer_nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 36px 0 28px 0;
}

.footer_nav_left {
  margin-right: 100px;
}

.footer_nav_left_logo {
  margin-bottom: 30px;
  width: 240px;
}

.footer_nav_left_icons {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.footer_nav_left_icons a {
  color: #fff;
  margin: 2px 8px;
  transition: 0.2s;
}

.footer_nav_right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.footer_nav_right > li:nth-child(2) {
  margin-right: 100px;
}

.footer_nav_right > li > a {
  margin-bottom: 20px;
  color: #fff;
  transition: 0.2s;
}

.footer_nav_right > li:first-child > ol {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.footer_nav_right > li:first-child > ol > li {
  margin-right: 30px;
  line-height: 36px;
}

.footer_nav_right > li > ol > li a, .footer_nav_right > li > span {
  font-size: 16px;
  color: #fff;
  line-height: 36px;
  transition: 0.2s;
}

.footer_nav_right > li > ol > li a, .footer_nav_right > li > span > i {
  margin-right: 12px;
}

.footer_nav_left a:hover, .footer_nav_right a:hover {
  color: #513F2E;
}

.ms_header {
  background-color: #F29441;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 100px;
}

.ms_nav {
  width: 1400px;
  margin: 0 auto;
}
.ms_nav .ms_logo {
  width: 188px;
}

.ms_wrapper {
  width: 1400px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 150px;
}

.member-left h2 {
  font-size: 32px;
  margin-bottom: 31px;
  color: #513F2E;
}
.member-left ul a {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  line-height: 59px;
  width: 200px;
  color: #fff;
  box-sizing: border-box;
  padding-left: 35px;
  font-size: 20px;
  background: #AFBF30;
  margin-bottom: 10px;
  transition: 0.3s;
  letter-spacing: 2px;
}
.member-left ul a:hover {
  background: #F29441;
}
.member-left ul a i {
  margin-right: 13px;
}

.member-right h2 {
  font-size: 32px;
  margin-bottom: 31px;
  color: #513F2E;
}

.member-right-card {
  width: 960px;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  padding-top: 59px;
}
.member-right-card h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
.member-right-card .member-right-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 691px;
  margin-bottom: 28px;
}
.member-right-card .member-right-name .member-name-text {
  padding-left: 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 533px;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
}
.member-right-card .member-text {
  padding-left: 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 691px;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
  margin-bottom: 34px;
}
.member-right-card .address {
  margin-bottom: 80px;
}
.member-right-card .address .address-top {
  width: 691px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.member-right-card .address .address-top select {
  padding-left: 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 330px;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
  height: 50px;
}
.member-right-card a {
  background: #F29441;
  line-height: 59px;
  width: 691px;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  margin-bottom: 95px;
}
.member-right-card a:hover {
  background: #AFBF30;
}

.membercard-right {
  width: 964px;
}
.membercard-right-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.membercard-right-title h2 {
  font-size: 32px;
}
.membercard-right-title a {
  background: #F29441;
  line-height: 59px;
  width: 238px;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
.membercard-right-title a:hover {
  background: #AFBF30;
}
.membercard-right-title a i {
  margin-left: 24px;
}

.product-wrapper {
  width: 1200px;
  margin: 0 auto;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.product-wrapper h1 {
  font-size: 32px;
}
.product-wrapper h2 {
  font-size: 24px;
}
.product-wrapper h3 {
  font-size: 20px;
}

.btn.active {
  background-color: #F29441;
}

.product-top {
  width: 83%;
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
  align-self: self-end;
}

.col-3.breadcrumb {
  padding-left: 20px;
}

.product-main {
  width: 100%;
  display: flex;
}

.breadcrumb ol {
  display: flex;
  font-size: 16px;
  width: 100%;
}

.breadcrumb-item {
  font-size: 16px;
  width: 36%;
}

.breadcrumb-item a::after {
  content: ">";
  margin-left: 10px;
}

.breadcrumb-item a:hover {
  color: #F29441;
}

.breadcrumb-item.active a::after {
  display: none;
}

.product-filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60px;
}
.product-filter div {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.product-filter ul {
  display: block;
  position: absolute;
  z-index: 1;
}
.product-filter li {
  width: 146.5px;
  height: 40px;
  text-align: center;
  background-color: #F29441;
  color: #fff;
  display: none;
}
.product-filter li a {
  height: 40px;
  color: #fff;
  line-height: 2.5;
}

.product-filter-btn {
  width: 100%;
  height: 51px;
  background-color: #F29441;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.product-filter-btn span {
  margin-left: 8px;
}
.product-filter-btn img {
  width: 8%;
}

.product-filter-player {
  display: block;
}

.product-filter li a:hover {
  background-color: #AFBF30;
  color: #fff;
}

.product-filter-player {
  right: 360px;
  top: 147px;
}

.product-filter-age {
  right: 202px;
  top: 147px;
}

.product-filter-order {
  top: 147px;
}

.product-filter-player.active {
  display: block;
}

.product-filter-age.active {
  display: block;
}

.product-filter-order.active {
  display: block;
}

.product-main {
  margin-top: 30px;
  position: relative;
  height: 1866px;
}

.product-sidemenu {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  line-height: 59px;
  width: 200px;
  color: #fff;
  box-sizing: border-box;
  padding-left: 35px;
  font-size: 20px;
  background: #AFBF30;
  margin-bottom: 10px;
  transition: 0.3s;
  letter-spacing: 2px;
}
.product-sidemenu:hover {
  background: #F29441;
}

.product-main-category {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.product-main-category li {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-main-category li a {
  display: block;
  height: 75px;
  background-color: #AFBF30;
  font-size: 20px;
  line-height: 4;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}

.prouct-item {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.prouct-item.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prouct-item-card {
  width: 300px;
  height: 405px;
  border: 5px solid #AFBF30;
  margin-left: 20px;
  margin-bottom: 52px;
  position: relative;
}

.prouct-item-card-tag {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prouct-item-card-tag p {
  display: block;
  height: 24px;
  background-color: #F25790;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 2px;
}

.prouct-item-card-tag-player {
  width: 64px;
}

.prouct-item-card-tag-age {
  width: 40px;
}

.prouct-item-card-img {
  height: 233px;
  margin: 16px auto;
  text-align: center;
}

.prouct-item-card-infro {
  box-sizing: border-box;
  width: 300px;
  height: 126px;
  margin-top: 30px;
  padding: 5px;
  background-color: #AFBF30;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-main aside ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 20px;
}
.product-main aside ul li {
  margin-bottom: 20px;
  background-color: #AFBF30;
  text-align: center;
  line-height: 4;
  border-radius: 5px;
}
.product-main aside ul li a {
  font-size: 20px;
  color: #fff;
  height: 75px;
}

.product-main aside ul li.active {
  background-color: #F29441;
}

.product-main aside ul li:hover {
  background-color: #F25790;
}

.prouct-item-card.prouct-item-card-infro button {
  background-color: #fff;
  border-radius: 100%;
}

.prouct-item-card-infro h2, .prouct-item-card-infro h3 {
  color: #fff;
  line-height: 2.5;
  letter-spacing: 5px;
}

.prouct-item-card.prouct-item-card-infro.prouct-item-card-icon {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #fff;
}

.custom-icon {
  font-size: 25px;
  color: #AFBF30;
}

.product-page {
  display: flex;
  margin: 10px auto;
  justify-content: space-evenly;
}

.product-page button {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.product-page ul {
  display: flex;
  justify-content: center;
}

.product-page ul li {
  margin-right: 18px;
}

.product-page ul li a.active {
  color: #F25790;
}

.product-wrapper {
  color: #513F2E;
}

button {
  cursor: pointer;
}

.infor-top {
  width: 100%;
  margin-top: 40px;
}

.breadcrumb-item.active a {
  color: #F29441;
  font-weight: 600;
}

.infor-item {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.infor-item-img {
  display: flex;
}

.infor-item-img-sm {
  margin-top: 28px;
  margin-right: 45px;
  width: 102px;
}

.infor-item-img-bg {
  text-align: center;
  width: 500px;
}

.infor-item-img-sm img {
  width: 100%;
}

.infor-item-img-bg img {
  width: 90%;
}

.infor-item-infro h1 {
  margin-bottom: 20px;
  font-weight: 700;
}

.infor-item-infro p {
  margin-bottom: 10px;
  font-size: 20px;
}

.sel-amount {
  border: 1px solid rgba(0, 0, 0, 0.3098039216);
  height: 45px;
  margin: 0 auto;
  line-height: 2;
  display: flex;
}
.sel-amount input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  height: 46.3px;
  font-size: 20px;
  padding: 0;
}
.sel-amount button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  height: 46.3px;
  font-size: 23px;
  padding: 0;
  font-weight: 800;
  width: 56px;
}

.sel-amount button:hover {
  background-color: #F25790;
}

.intro {
  margin-bottom: 20px;
}

.infor-item-infro h2 {
  margin-bottom: 45px;
  margin-top: 45px;
  font-weight: 800;
}

.infor-item-buy {
  display: flex;
  justify-content: space-between;
}
.infor-item-buy button {
  width: 235px;
}

.infor-item .btn {
  max-width: 500px;
  background-color: #F29441;
  height: 52px;
  line-height: 2;
  margin-top: 10px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 20px;
}

.infor-detail a {
  color: #513F2E;
}

.infor-detail-nav {
  display: flex;
  margin-top: 30px;
  height: 90px;
}
.infor-detail-nav ul {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.infor-detail-nav li {
  border-bottom: 1px solid black;
}
.infor-detail-nav a {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 2;
}

.product-top h2, .product-main h2, .product-page h2 {
  color: #513F2E;
}

.infor-detail-nav li.active {
  font-weight: 700;
  border-bottom: 2px solid #F29441;
}

.infor-detail-nav li:hover {
  background-color: #F29441;
}

.infor-detail-contain section {
  line-height: 2.5;
  font-size: 16px;
  margin-top: 20px;
  display: none;
}

.infor-detail-contain section.active {
  display: block;
}

.infor-bottom h2 {
  margin-top: 100px;
  color: #513F2E;
  font-weight: 700;
  border-bottom: 1px solid #513F2E;
}

.infor-bottom-item {
  display: flex;
  overflow: hidden;
  margin-left: 0;
  margin-top: 20px;
  justify-content: space-between;
}

.prouct-item-card {
  margin-left: 0;
  width: 266px;
}

.prouct-item-card-infro {
  width: 266px;
}

.prouct-item-card-infro div h2 {
  color: #fff;
  margin-top: 10px;
  border: 0;
}

.prouct-item-card-infro button {
  border-radius: 100%;
  border: 0;
  background-color: #fff;
  width: 56px;
  height: 56px;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-icon {
  margin: 0 auto;
}

.fa-star {
  color: #ffd500;
}

.infor-detail-star-rank {
  display: flex;
  letter-spacing: 2px;
  margin-left: 28px;
  justify-content: flex-end;
}

.infor-detail-star-rank ul {
  margin-left: 10px;
  display: flex;
}

.infor-detail-star-comment-main {
  align-self: flex-end;
}

.infor-detail-star-comment {
  height: 350px;
  overflow: auto;
}
.infor-detail-star-comment article {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.infor-detail-star-comment-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.infor-detail-star-comment-top img {
  display: block;
  width: 30px;
  height: 30px;
}
.infor-detail-star-comment-top ul {
  display: flex;
}

.cartConfirm_wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #513F2E;
}

.cartConfirm_top {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.cartConfirm_top ul {
  display: flex;
  margin: 10px auto;
  justify-content: space-around;
  text-align: center;
}

.cartConfirm_prog li {
  display: block;
  width: 70px;
  height: 70px;
  border: 2px solid #513F2E;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5;
  font-size: 30px;
  position: relative;
}
.cartConfirm_prog .active {
  background-color: #AFBF30;
  color: #fff;
  font-weight: 600;
  border: 2px solid #AFBF30;
}

.cartConfirm_prog_s ::after {
  content: "";
  width: 127px;
  border: 1.3px solid #513F2E;
  height: 0px;
  display: block;
  position: absolute;
  right: -129px;
  bottom: 31px;
}

.cartConfirm_prog_f::after {
  content: "";
  width: 128px;
  border: 1.3px solid #513F2E;
  height: 0px;
  display: block;
  position: absolute;
  right: -129px;
  bottom: 33px;
}

.cartConfirm_prog_tag li {
  margin-top: 10px;
  margin-left: 13px;
}

.cartConfirm_con {
  display: flex;
  flex-direction: column;
}
.cartConfirm_con h2 {
  font-size: 30px;
  font-weight: 600;
}

.cartConfirm_con_title {
  display: flex;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #513F2E;
  text-align: center;
  justify-content: space-around;
}
.cartConfirm_con_title li {
  margin-bottom: 15px;
}

.cartConfirm_con_title_item {
  display: flex;
  flex-direction: column;
  max-height: 445px;
  overflow-y: auto;
}
.cartConfirm_con_title_item li {
  margin-top: 40px;
  display: block;
  height: 180px;
  background-color: #F2F2F2;
  border-radius: 5px;
}
.cartConfirm_con_title_item li ul {
  display: flex;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}
.cartConfirm_con_title_item li ul img {
  width: 65%;
}
.cartConfirm_con_title_item li ul li {
  display: flex;
  height: 180px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
}
.cartConfirm_con_title_item li ul li button {
  background-color: rgba(242, 242, 242, 0);
  border: 0;
  font-weight: 500;
  font-size: 20px;
}
.cartConfirm_con_title_item li ul li button:hover {
  background-color: #F29441;
  border: 0;
}

.cartConfirm_con_title_item_num div {
  border: 0.5px solid rgb(186, 186, 186);
  border-radius: 5px;
  height: 32px;
  display: flex;
  background-color: #fff;
}
.cartConfirm_con_title_item_num div input {
  border: 0.1px solid rgba(128, 128, 128, 0.399);
  text-align: center;
}

.cartConfirm_con_title_item_name {
  text-align: left;
}

.cartConfirm_con_title_item_sum {
  margin-right: 0;
}

.cartConfirm_deliv {
  margin-top: 40px;
  margin-bottom: 60px;
  line-height: 2;
  display: flex;
  justify-content: space-between;
}
.cartConfirm_deliv div {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.cartConfirm_deliv div select {
  height: 40px;
  font-size: 20px;
}
.cartConfirm_deliv div p, .cartConfirm_deliv div h3 {
  display: flex;
  justify-content: space-between;
}
.cartConfirm_deliv h2 {
  font-size: 24px;
  border-bottom: 1px solid #513F2E;
}
.cartConfirm_deliv h3, .cartConfirm_deliv p {
  margin-top: 20px;
  font-size: 20px;
}
.cartConfirm_deliv input {
  margin-top: 40px;
  width: 100%;
  height: 40px;
  background-color: #F29441;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
}
.cartConfirm_deliv input:hover {
  background-color: #AFBF30;
}

.cartFill_del_info {
  font-size: 24px;
  margin-top: 40px;
}
.cartFill_del_info ul {
  display: flex;
  justify-content: space-between;
}
.cartFill_del_info li {
  display: flex;
  justify-content: space-evenly;
}

.carFill_prog_f ::after {
  content: "";
  width: 127px;
  border: 1.7px solid #AFBF30;
  height: 0px;
  display: block;
  position: absolute;
  right: -129px;
  bottom: 31px;
}

.cartFill_deliv {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  line-height: 2;
  margin-bottom: 50px;
}
.cartFill_deliv div {
  margin-right: 40px;
}
.cartFill_deliv div label {
  font-size: 14px;
}
.cartFill_deliv div h2 {
  border-bottom: 1px solid #513F2E;
  margin-bottom: 10px;
}
.cartFill_deliv h2 {
  font-size: 24px;
}
.cartFill_deliv h3 {
  font-size: 20px;
}
.cartFill_deliv ul input {
  height: 30px;
  font-size: 20px;
}

.cartFill_deliv_add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.cartFill_deliv_add input {
  margin-bottom: 20px;
  height: 30px;
}
.cartFill_deliv_add select {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  height: 38px;
}

.cartFill_deliv_submit {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #F29441;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
}

.cartFill_deliv_submit:hover {
  background-color: #AFBF30;
}

.forum_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 1200px;
  margin: 0 auto;
  font-family: Noto Sans, Noto Sans TC, sans-serif;
}

.forum_sidemenu {
  display: inline-block;
}

.forum_sidemenu li {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  line-height: 59px;
  width: 200px;
  color: #fff;
  box-sizing: border-box;
  padding-left: 35px;
  font-size: 20px;
  background: #AFBF30;
  margin-bottom: 10px;
  transition: 0.3s;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.forum_sidemenu li:hover {
  background: #F29441;
}

.forum_sidemenu li:last-child {
  margin-top: 50px;
  justify-content: center;
  padding: 0;
  background-color: #513F2E;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}
.forum_sidemenu li:last-child:hover {
  background: #F29441;
}

.forum_sidemenu li i {
  margin-right: 10px;
}

.forum_right {
  width: 40%;
  flex-grow: 1;
  margin-left: 50px;
}

.forum_advertise {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/Group545.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.forum_advertise_img {
  flex-grow: 1;
  width: 20%;
}

.forum_advertise img {
  display: block;
  width: 27%;
  margin: 50px auto;
}

.forum_advertise_text {
  margin-left: 30px;
  flex-grow: 1;
  width: 30%;
  line-height: 1.5;
  color: white;
  font-weight: 900;
  letter-spacing: 3px;
}

.forum_advertise_text h2 {
  font-size: 24px;
  margin: 10px 0 10px 0;
}

.forum_advertise_text p {
  font-size: 16px;
  word-break: break-all;
  margin-top: 5%;
  margin-left: 15%;
  width: 82%;
}

.forum_advertise_text > p + p {
  text-align: end;
}

.forum_advertise_text .forum_media_advertise_text {
  text-align: start;
  display: none;
}

.forum_article_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}

.forum_article_title h2 {
  font-size: 24px;
  flex-grow: 1;
  text-align: start;
}

.forum_article_title select {
  background-color: #F29441;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
}

.forum_article_item1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  background-color: #F2F2F2;
  margin-bottom: 30px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.forum_article_item1_left {
  width: 25%;
}

.forum_article_item1_left li {
  width: 50%;
  margin: 10px auto;
}

.forum_article_item1_left .forum_category {
  background-color: white;
  line-height: 5;
  text-align: center;
  font-size: 24px;
}

.forum_article_item1_left .forum_category h2 {
  margin-top: 30px;
  color: #F25790;
}

.forum_article_item1_left .forum_name_data {
  font-size: 16px;
  color: #513F2E;
  line-height: 1.5;
}

.forum_article_item1_right {
  width: 60%;
  flex-grow: 1;
  color: #513F2E;
}

.forum_article_item1_right_label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 20px 0;
}

.forum_article_item1_right_label li {
  background-color: #F3DAD8;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  letter-spacing: 3px;
}

.forum_article_item1_right_middle {
  margin: 10px 0;
  padding: 8px;
  width: 95%;
}

.forum_article_item1_right_middle h2 {
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: 3px;
  line-height: 1.5;
}

.forum_article_item1_right_middle p {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.forum_article_item1_right_bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 10px 0;
}

.forum_article_item1_right_bottom li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.forum_article_item1_right_bottom li + li {
  margin-left: 20px;
}

.forum_article_item1_right_bottom li i {
  margin-right: 5px;
}

.forum_pagination_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  color: #513F2E;
}

.forum_pagination_bar a {
  margin: 10px;
}

.forum_media {
  margin: 30px 0;
  display: none;
}

.forum_media_button {
  background: #513F2E;
  line-height: 2;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.forum_media_button:hover {
  background: #F29441;
}

.forum_media_select,
.forum_media_sort {
  margin: 30px 0;
}
.forum_media_select select,
.forum_media_sort select {
  display: block;
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
}

.forum_media_menu_select {
  background-color: #AFBF30;
}

.forum_media_menu_sort {
  background-color: #F29441;
}

@media screen and (max-width: 414px) {
  .forum_wrapper {
    width: auto;
    flex-direction: column;
    margin: 0;
  }
  .forum_sidemenu {
    display: none;
  }
  .forum_right {
    width: 100vw;
    flex-grow: 0;
    margin-left: 0;
  }
  .forum_advertise {
    width: 100vw;
    align-items: flex-start;
  }
  .forum_advertise_img {
    width: 20vw;
  }
  .forum_advertise img {
    margin: 20px auto;
    width: 24%;
  }
  .forum_advertise_text {
    margin-left: -35px;
  }
  .forum_advertise_text h2 {
    font-size: 16px;
    margin: 10px 0 5px 15px;
  }
  .forum_advertise_text p {
    font-size: 0.5rem;
    margin-top: 0;
    width: 50vw;
  }
  .forum_advertise_text .forum_advertise_text_p {
    display: none;
  }
  .forum_advertise_text .forum_media_advertise_text {
    display: block;
    margin-bottom: 5px;
  }
  .forum_advertise_text > p + p {
    margin-bottom: 5px;
  }
  .forum_article_title {
    display: none;
  }
  .forum_media {
    display: block;
    width: 90vw;
    margin: 30px auto;
  }
  .forum_article_item {
    width: 100vw;
  }
  .forum_article_item1 {
    width: 90vw;
    margin: 0 auto 30px;
    flex-direction: column;
  }
  .forum_article_item1_left {
    width: 90vw;
  }
  .forum_article_item1_left li {
    width: 85vw;
    margin-left: 15px;
  }
  .forum_article_item1_left .forum_category {
    display: none;
  }
  .forum_article_item1_left .forum_name_data {
    font-size: 0.8rem;
  }
  .forum_article_item1_left .forum_name_data p {
    display: inline-block;
  }
  .forum_article_item1_left .forum_name_data p + p {
    margin-left: 10px;
  }
  .forum_article_item1_right {
    width: 90vw;
  }
  .forum_article_item1_right_label {
    width: 88vw;
    margin: 10px auto;
  }
  .forum_article_item1_right_label li {
    font-size: 0.5rem;
  }
  .forum_article_item1_right_middle {
    margin: 0 15px;
    padding: 0;
  }
  .forum_article_item1_right_middle h2 {
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .forum_article_item1_right_middle p {
    font-size: 0.8rem;
  }
  .forum_article_item1_right_bottom {
    width: 85vw;
    margin: 20px 8px;
  }
  .forum_pagination_bar {
    width: 90vw;
    margin: 100px auto 0;
  }
}
.forumPost_wrapper {
  width: 1200px;
  margin: 0 auto;
  font-family: Noto Sans, Noto Sans TC, sans-serif;
  color: #F29441;
}

.forumPost_form {
  width: 80%;
  margin: 0 auto;
  background-color: #F2F2F2;
  padding: 100px 0;
}

.forumPost_form_title {
  margin: 0 100px;
}

.forumPost_form_category,
.forumPost_form_score {
  border: 1px solid purple;
  background-color: #F29441;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
}

.forumPost_form_title_text {
  padding-left: 20px;
  line-height: 1.8;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
  margin: 0 10px;
  border: 1px solid #F29441;
  color: #F29441;
}
.forumPost_form_title_text::placeholder {
  color: #F29441;
}

.forumPost_form_middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin: 50px 100px;
  font-size: 24px;
}

.forumPost_form_middle_title {
  margin: 10px 0;
}

.forumPost_form_middle_input {
  padding-left: 20px;
  line-height: 1.8;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
}
.forumPost_form_middle_input::placeholder {
  color: #F29441;
}

.forumPost_form_middle_text {
  margin: 30px 0 10px;
}

.forumPost_form_middle_textarea {
  padding-left: 20px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
  resize: none;
  padding-left: 10px;
  height: 400px;
}

.forumPost_form_middle_bottom {
  margin: 30px 0 10px;
}

.forumPost_form_middle_bottom_text {
  padding-left: 20px;
  line-height: 1.8;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
}
.forumPost_form_middle_bottom_text::placeholder {
  color: #F29441;
}

.forumPost_form_button {
  width: 80%;
  margin: 10px auto;
}

.forumPost_form_button_btn {
  background: #F29441;
  line-height: 2;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  border: none;
}
.forumPost_form_button_btn:hover {
  background: #AFBF30;
}

input[type=submit] {
  font-size: 24px;
}

@media screen and (max-width: 414px) {
  .forumPost_wrapper {
    width: auto;
  }
  .forumPost_form {
    width: 100vw;
    margin: 0;
    background-color: white;
  }
  .forumPost_form_title {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .forumPost_form_title_text {
    width: 90vw;
    margin: 20px 0 0;
  }
  .forumPost_form_category {
    order: -2;
    width: 40vw;
  }
  .forumPost_form_score {
    order: -1;
    width: 40vw;
  }
  .forumPost_form_middle {
    width: 90vw;
    margin: 0 auto;
  }
  .forumPost_form_middle_title,
  .forumPost_form_middle_text,
  .forumPost_form_middle_bottom {
    display: none;
  }
  .forumPost_form_middle_input,
  .forumPost_form_middle_textarea,
  .forumPost_form_middle_bottom_text {
    margin-top: 20px;
    border: 1px solid #F29441;
  }
  .forumPost_form_button {
    width: 90vw;
    margin-top: 50px;
  }
  .forumPost_form_button_btn {
    width: 90vw;
  }
}
.mCP-left {
  background-color: #F2F2F2;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  height: 595px;
}
.mCP-left ul {
  font-size: 16px;
  width: 200px;
}
.mCP-left ul li {
  padding: 25px;
}
.mCP-left ul li a {
  color: #513F2E;
}
.mCP-left ul li:hover {
  border-left: 6px solid #F29441;
}

.mCP-right {
  background-color: #F2F2F2;
  width: 828px;
  height: 702px;
}
.mCP-right i.bi {
  float: right;
  padding: 20px;
  font-size: 24px;
}
.mCP-right form {
  display: flex;
  flex-direction: column;
}
.mCP-right form h1 {
  font-size: 32px;
  padding: 60px 20px 40px;
}
.mCP-right form label {
  padding: 20px 0 10px 20px;
  font-size: 24px;
}
.mCP-right form input {
  height: 45px;
  margin: 0 20px;
}
.mCP-right form input:last-child {
  margin-top: 30px;
  height: 69px;
  background-color: #F29441;
  font-size: 24px;
  color: white;
}

.wrapper_m {
  padding-top: 100px;
  width: 828px;
  margin: 0 auto;
}
.wrapper_m .mCP {
  background-color: #F2F2F2;
  width: 828px;
  height: 702px;
  position: relative;
}
.wrapper_m .mCP i.bi {
  right: 20px;
  top: 10px;
  position: absolute;
  padding: 20px;
  font-size: 24px;
}
.wrapper_m .mCP form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper_m .mCP form h1 {
  font-size: 32px;
  padding: 60px 20px 40px;
  margin: 0 auto;
}
.wrapper_m .mCP form label {
  padding: 20px 0 10px 20px;
  font-size: 24px;
}
.wrapper_m .mCP form input {
  height: 45px;
  margin: 0 20px;
}
.wrapper_m .mCP form input:last-child {
  margin-top: 30px;
  height: 69px;
  background-color: #F29441;
  font-size: 24px;
  color: white;
}

.lightbox {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.ms_form {
  position: relative;
  font-family: "Noto Sans TC", sans-serif;
  max-width: 550px;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 auto;
}
.ms_form .ms_login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ms_form .ms_login_form .ms_login_form_logo {
  width: 170px;
  margin-bottom: 30px;
}

.ms_form {
  padding: 60px 70px;
  height: 450px;
}
.ms_form .ms_login_input_field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ms_form .ms_login_input_field input {
  font-family: "Noto Sans TC", sans-serif;
  padding: 0 10px;
  letter-spacing: 0.1em;
  border-radius: 2px;
  outline: none;
  border: none;
  height: 35px;
  margin-bottom: 30px;
  font-size: 18px;
}
.ms_form .ms_login_input_field .ms_login_label {
  letter-spacing: 0.2em;
  font-size: 20px;
  margin-bottom: 10px;
}

.ms_test_acct {
  position: absolute;
  right: 70px;
  bottom: 140px;
  font-size: 14px;
  letter-spacing: 0.1em;
}

.ms_login_btn {
  margin-top: 10px;
  width: 100%;
}
.ms_login_btn input {
  font-size: 18px;
  outline: none;
  border: none;
  background: #F29441;
  line-height: 40px;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
}
.ms_login_btn input:hover {
  background: #AFBF30;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 150px;
}

.member-left h2 {
  font-size: 32px;
  margin-bottom: 31px;
  color: #513F2E;
}
.member-left ul a {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  line-height: 59px;
  width: 200px;
  color: #fff;
  box-sizing: border-box;
  padding-left: 35px;
  font-size: 20px;
  background: #AFBF30;
  margin-bottom: 10px;
  transition: 0.3s;
  letter-spacing: 2px;
}
.member-left ul a:hover {
  background: #F29441;
}
.member-left ul a i {
  margin-right: 13px;
}

.member-right h2 {
  font-size: 32px;
  margin-bottom: 31px;
  color: #513F2E;
}

.member-right-card {
  width: 960px;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  padding-top: 59px;
}
.member-right-card h3 {
  font-size: 24px;
  margin-bottom: 8px;
}
.member-right-card .member-right-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 691px;
  margin-bottom: 28px;
}
.member-right-card .member-right-name .member-name-text {
  padding-left: 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 533px;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
}
.member-right-card .member-text {
  padding-left: 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 691px;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
  margin-bottom: 34px;
}
.member-right-card .address {
  margin-bottom: 80px;
}
.member-right-card .address .address-top {
  width: 691px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.member-right-card .address .address-top select {
  padding-left: 20px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 330px;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
  height: 50px;
}
.member-right-card a {
  background: #F29441;
  line-height: 59px;
  width: 691px;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  margin-bottom: 95px;
}
.member-right-card a:hover {
  background: #AFBF30;
}

.membercard-right {
  width: 964px;
}
.membercard-right-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.membercard-right-title h2 {
  font-size: 32px;
}
.membercard-right-title a {
  background: #F29441;
  line-height: 59px;
  width: 238px;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
.membercard-right-title a:hover {
  background: #AFBF30;
}
.membercard-right-title a i {
  margin-left: 24px;
}

.product-wrapper {
  width: 1200px;
  margin: 0 auto;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.product-wrapper h1 {
  font-size: 32px;
}
.product-wrapper h2 {
  font-size: 24px;
}
.product-wrapper h3 {
  font-size: 20px;
}

.btn.active {
  background-color: #F29441;
}

.product-top {
  width: 83%;
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
  align-self: self-end;
}

.col-3.breadcrumb {
  padding-left: 20px;
}

.product-main {
  width: 100%;
  display: flex;
}

.breadcrumb ol {
  display: flex;
  font-size: 16px;
  width: 100%;
}

.breadcrumb-item {
  font-size: 16px;
  width: 36%;
}

.breadcrumb-item a::after {
  content: ">";
  margin-left: 10px;
}

.breadcrumb-item a:hover {
  color: #F29441;
}

.breadcrumb-item.active a::after {
  display: none;
}

.product-filter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60px;
}
.product-filter div {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.product-filter ul {
  display: block;
  position: absolute;
  z-index: 1;
}
.product-filter li {
  width: 146.5px;
  height: 40px;
  text-align: center;
  background-color: #F29441;
  color: #fff;
  display: none;
}
.product-filter li a {
  height: 40px;
  color: #fff;
  line-height: 2.5;
}

.product-filter-btn {
  width: 100%;
  height: 51px;
  background-color: #F29441;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.product-filter-btn span {
  margin-left: 8px;
}
.product-filter-btn img {
  width: 8%;
}

.product-filter-player {
  display: block;
}

.product-filter li a:hover {
  background-color: #AFBF30;
  color: #fff;
}

.product-filter-player {
  right: 360px;
  top: 147px;
}

.product-filter-age {
  right: 202px;
  top: 147px;
}

.product-filter-order {
  top: 147px;
}

.product-filter-player.active {
  display: block;
}

.product-filter-age.active {
  display: block;
}

.product-filter-order.active {
  display: block;
}

.product-main {
  margin-top: 30px;
  position: relative;
  height: 1866px;
}

.product-sidemenu {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  line-height: 59px;
  width: 200px;
  color: #fff;
  box-sizing: border-box;
  padding-left: 35px;
  font-size: 20px;
  background: #AFBF30;
  margin-bottom: 10px;
  transition: 0.3s;
  letter-spacing: 2px;
}
.product-sidemenu:hover {
  background: #F29441;
}

.product-main-category {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.product-main-category li {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-main-category li a {
  display: block;
  height: 75px;
  background-color: #AFBF30;
  font-size: 20px;
  line-height: 4;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}

.prouct-item {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.prouct-item.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prouct-item-card {
  width: 300px;
  height: 405px;
  border: 5px solid #AFBF30;
  margin-left: 20px;
  margin-bottom: 52px;
  position: relative;
}

.prouct-item-card-tag {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prouct-item-card-tag p {
  display: block;
  height: 24px;
  background-color: #F25790;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 2px;
}

.prouct-item-card-tag-player {
  width: 64px;
}

.prouct-item-card-tag-age {
  width: 40px;
}

.prouct-item-card-img {
  height: 233px;
  margin: 16px auto;
  text-align: center;
}

.prouct-item-card-infro {
  box-sizing: border-box;
  width: 300px;
  height: 126px;
  margin-top: 30px;
  padding: 5px;
  background-color: #AFBF30;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-main aside ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 20px;
}
.product-main aside ul li {
  margin-bottom: 20px;
  background-color: #AFBF30;
  text-align: center;
  line-height: 4;
  border-radius: 5px;
}
.product-main aside ul li a {
  font-size: 20px;
  color: #fff;
  height: 75px;
}

.product-main aside ul li.active {
  background-color: #F29441;
}

.product-main aside ul li:hover {
  background-color: #F25790;
}

.prouct-item-card.prouct-item-card-infro button {
  background-color: #fff;
  border-radius: 100%;
}

.prouct-item-card-infro h2, .prouct-item-card-infro h3 {
  color: #fff;
  line-height: 2.5;
  letter-spacing: 5px;
}

.prouct-item-card.prouct-item-card-infro.prouct-item-card-icon {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #fff;
}

.custom-icon {
  font-size: 25px;
  color: #AFBF30;
}

.product-page {
  display: flex;
  margin: 10px auto;
  justify-content: space-evenly;
}

.product-page button {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.product-page ul {
  display: flex;
  justify-content: center;
}

.product-page ul li {
  margin-right: 18px;
}

.product-page ul li a.active {
  color: #F25790;
}

.product-wrapper {
  color: #513F2E;
}

button {
  cursor: pointer;
}

.infor-top {
  width: 100%;
  margin-top: 40px;
}

.breadcrumb-item.active a {
  color: #F29441;
  font-weight: 600;
}

.infor-item {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.infor-item-img {
  display: flex;
}

.infor-item-img-sm {
  margin-top: 28px;
  margin-right: 45px;
  width: 102px;
}

.infor-item-img-bg {
  text-align: center;
  width: 500px;
}

.infor-item-img-sm img {
  width: 100%;
}

.infor-item-img-bg img {
  width: 90%;
}

.infor-item-infro h1 {
  margin-bottom: 20px;
  font-weight: 700;
}

.infor-item-infro p {
  margin-bottom: 10px;
  font-size: 20px;
}

.sel-amount {
  border: 1px solid rgba(0, 0, 0, 0.3098039216);
  height: 45px;
  margin: 0 auto;
  line-height: 2;
  display: flex;
}
.sel-amount input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  height: 46.3px;
  font-size: 20px;
  padding: 0;
}
.sel-amount button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  height: 46.3px;
  font-size: 23px;
  padding: 0;
  font-weight: 800;
  width: 56px;
}

.sel-amount button:hover {
  background-color: #F25790;
}

.intro {
  margin-bottom: 20px;
}

.infor-item-infro h2 {
  margin-bottom: 45px;
  margin-top: 45px;
  font-weight: 800;
}

.infor-item-buy {
  display: flex;
  justify-content: space-between;
}
.infor-item-buy button {
  width: 235px;
}

.infor-item .btn {
  max-width: 500px;
  background-color: #F29441;
  height: 52px;
  line-height: 2;
  margin-top: 10px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-size: 20px;
}

.infor-detail a {
  color: #513F2E;
}

.infor-detail-nav {
  display: flex;
  margin-top: 30px;
  height: 90px;
}
.infor-detail-nav ul {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.infor-detail-nav li {
  border-bottom: 1px solid black;
}
.infor-detail-nav a {
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 2;
}

.product-top h2, .product-main h2, .product-page h2 {
  color: #513F2E;
}

.infor-detail-nav li.active {
  font-weight: 700;
  border-bottom: 2px solid #F29441;
}

.infor-detail-nav li:hover {
  background-color: #F29441;
}

.infor-detail-contain section {
  line-height: 2.5;
  font-size: 16px;
  margin-top: 20px;
  display: none;
}

.infor-detail-contain section.active {
  display: block;
}

.infor-bottom h2 {
  margin-top: 100px;
  color: #513F2E;
  font-weight: 700;
  border-bottom: 1px solid #513F2E;
}

.infor-bottom-item {
  display: flex;
  overflow: hidden;
  margin-left: 0;
  margin-top: 20px;
  justify-content: space-between;
}

.prouct-item-card {
  margin-left: 0;
  width: 266px;
}

.prouct-item-card-infro {
  width: 266px;
}

.prouct-item-card-infro div h2 {
  color: #fff;
  margin-top: 10px;
  border: 0;
}

.prouct-item-card-infro button {
  border-radius: 100%;
  border: 0;
  background-color: #fff;
  width: 56px;
  height: 56px;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-icon {
  margin: 0 auto;
}

.fa-star {
  color: #ffd500;
}

.infor-detail-star-rank {
  display: flex;
  letter-spacing: 2px;
  margin-left: 28px;
  justify-content: flex-end;
}

.infor-detail-star-rank ul {
  margin-left: 10px;
  display: flex;
}

.infor-detail-star-comment-main {
  align-self: flex-end;
}

.infor-detail-star-comment {
  height: 350px;
  overflow: auto;
}
.infor-detail-star-comment article {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.infor-detail-star-comment-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
.infor-detail-star-comment-top img {
  display: block;
  width: 30px;
  height: 30px;
}
.infor-detail-star-comment-top ul {
  display: flex;
}

.cartConfirm_wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #513F2E;
}

.cartConfirm_top {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.cartConfirm_top ul {
  display: flex;
  margin: 10px auto;
  justify-content: space-around;
  text-align: center;
}

.cartConfirm_prog li {
  display: block;
  width: 70px;
  height: 70px;
  border: 2px solid #513F2E;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5;
  font-size: 30px;
  position: relative;
}
.cartConfirm_prog .active {
  background-color: #AFBF30;
  color: #fff;
  font-weight: 600;
  border: 2px solid #AFBF30;
}

.cartConfirm_prog_s ::after {
  content: "";
  width: 127px;
  border: 1.3px solid #513F2E;
  height: 0px;
  display: block;
  position: absolute;
  right: -129px;
  bottom: 31px;
}

.cartConfirm_prog_f::after {
  content: "";
  width: 128px;
  border: 1.3px solid #513F2E;
  height: 0px;
  display: block;
  position: absolute;
  right: -129px;
  bottom: 33px;
}

.cartConfirm_prog_tag li {
  margin-top: 10px;
  margin-left: 13px;
}

.cartConfirm_con {
  display: flex;
  flex-direction: column;
}
.cartConfirm_con h2 {
  font-size: 30px;
  font-weight: 600;
}

.cartConfirm_con_title {
  display: flex;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #513F2E;
  text-align: center;
  justify-content: space-around;
}
.cartConfirm_con_title li {
  margin-bottom: 15px;
}

.cartConfirm_con_title_item {
  display: flex;
  flex-direction: column;
  max-height: 445px;
  overflow-y: auto;
}
.cartConfirm_con_title_item li {
  margin-top: 40px;
  display: block;
  height: 180px;
  background-color: #F2F2F2;
  border-radius: 5px;
}
.cartConfirm_con_title_item li ul {
  display: flex;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}
.cartConfirm_con_title_item li ul img {
  width: 65%;
}
.cartConfirm_con_title_item li ul li {
  display: flex;
  height: 180px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
}
.cartConfirm_con_title_item li ul li button {
  background-color: rgba(242, 242, 242, 0);
  border: 0;
  font-weight: 500;
  font-size: 20px;
}
.cartConfirm_con_title_item li ul li button:hover {
  background-color: #F29441;
  border: 0;
}

.cartConfirm_con_title_item_num div {
  border: 0.5px solid rgb(186, 186, 186);
  border-radius: 5px;
  height: 32px;
  display: flex;
  background-color: #fff;
}
.cartConfirm_con_title_item_num div input {
  border: 0.1px solid rgba(128, 128, 128, 0.399);
  text-align: center;
}

.cartConfirm_con_title_item_name {
  text-align: left;
}

.cartConfirm_con_title_item_sum {
  margin-right: 0;
}

.cartConfirm_deliv {
  margin-top: 40px;
  margin-bottom: 60px;
  line-height: 2;
  display: flex;
  justify-content: space-between;
}
.cartConfirm_deliv div {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.cartConfirm_deliv div select {
  height: 40px;
  font-size: 20px;
}
.cartConfirm_deliv div p, .cartConfirm_deliv div h3 {
  display: flex;
  justify-content: space-between;
}
.cartConfirm_deliv h2 {
  font-size: 24px;
  border-bottom: 1px solid #513F2E;
}
.cartConfirm_deliv h3, .cartConfirm_deliv p {
  margin-top: 20px;
  font-size: 20px;
}
.cartConfirm_deliv input {
  margin-top: 40px;
  width: 100%;
  height: 40px;
  background-color: #F29441;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
}
.cartConfirm_deliv input:hover {
  background-color: #AFBF30;
}

.cartFill_del_info {
  font-size: 24px;
  margin-top: 40px;
}
.cartFill_del_info ul {
  display: flex;
  justify-content: space-between;
}
.cartFill_del_info li {
  display: flex;
  justify-content: space-evenly;
}

.carFill_prog_f ::after {
  content: "";
  width: 127px;
  border: 1.7px solid #AFBF30;
  height: 0px;
  display: block;
  position: absolute;
  right: -129px;
  bottom: 31px;
}

.cartFill_deliv {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  line-height: 2;
  margin-bottom: 50px;
}
.cartFill_deliv div {
  margin-right: 40px;
}
.cartFill_deliv div label {
  font-size: 14px;
}
.cartFill_deliv div h2 {
  border-bottom: 1px solid #513F2E;
  margin-bottom: 10px;
}
.cartFill_deliv h2 {
  font-size: 24px;
}
.cartFill_deliv h3 {
  font-size: 20px;
}
.cartFill_deliv ul input {
  height: 30px;
  font-size: 20px;
}

.cartFill_deliv_add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.cartFill_deliv_add input {
  margin-bottom: 20px;
  height: 30px;
}
.cartFill_deliv_add select {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  height: 38px;
}

.cartFill_deliv_submit {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #F29441;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 22px;
}

.cartFill_deliv_submit:hover {
  background-color: #AFBF30;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 8px 16px;
  text-align: center;
  max-width: 100px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: #AFBF30;
}
.btn:hover {
  background-color: salmon;
}
.btn__submit {
  background: #F29441;
}
.btn__addCart {
  background: #F29441;
}

.Label {
  background-color: #F3DAD8;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  letter-spacing: 3px;
}

/*# sourceMappingURL=style.css.map */
