@import '../css/reset.css';
@import './base/var';
@import './base/font';
@import './base/color';

// @import './plugin/';


/*---------------------end-----------------------------*/

@import './mixin/mixins';
@import './component/body';
@import './component/btn';
@import './component/card';
@import './component/form';
@import './component/title';
@import './component/grid';
@import './layout/header';
@import './layout/footer';
@import './layout/login';
@import './layout/nav';
@import './component/ms_nav';
@import './page/main';
@import './page/about';
@import './page/index';
@import './page/page';

@import './page/forum';
@import './page/forumPost';
@import './page/forumInfo';
@import './page/msLiveChat'; 
@import './page/contact';

@import './page/msForumManagement';
@import './page/msEditAdmins';
@import './page/msLogin'; 
@import './page/memberCardAdd';
@import './page/memberCardEdit';
@import './page/msLogin.scss'; 
@import './page/register';
@import './page/mailCheck';
@import './page/forgetPassword';
@import './page/singin';
@import './page/forgetPasswordRedirect';
@import './page/registerRedirect';
@import './page/cartRedirect';
@import './page/mailCheckRedirect';
@import './page/msSendEmail'; 
@import './page/msDataManagementOrder'; 
@import './page/msContentManagement'; 
@import './component/msTabs'; 
@import './layout/msLeftSideMenu'; 
@import './layout/msRightSideContent'; 
@import './component/msPagination';
@import './page/memberOrder';
@import './page/memberPassword';
@import './page/msLongfrom';
@import './page/membercard';

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

@include m(){
    .wrapper{
        width: 370px;
    }
}

@include btnn(200px);

.Label{
    @include Label();
}
// sass sass\style.scss css/style.css -w