@import '../css/reset.css';
@import './base/var';
@import './base/font';
@import './base/color';

// @import './plugin/';


/*---------------------end-----------------------------*/

@import './mixin/mixins';

@import './component/body';
@import './component/btn';
@import './component/card';
@import './component/form';
@import './component/title';
@import './component/grid';
@import './layout/header';
@import './layout/footer';
@import './layout/login';
@import './layout/nav';
@import './layout/ms_nav';
@import './page/main';
@import './page/about';
@import './page/index';
@import './page/page';
@import './page/forum';
@import './page/msForumManagement';
@import './page/msEditAdmins';
@import './page/_msLogin.scss'; 
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

@include btnn(100px);

.Label{
    @include Label();
}

