@import '../css/reset.css';
@import './base/var';
@import './base/font';
@import './base/color';

// @import './plugin/';


/*---------------------end-----------------------------*/

@import './mixin/mixins';
@import './component/body';
@import './component/btn';
@import './component/card';
@import './component/form';
@import './component/title';
@import './component/grid';
@import './layout/header';
@import './layout/footer';
@import './layout/login';
@import './layout/nav';
@import './layout/ms_nav';
@import './page/main';
@import './page/about';
@import './page/index';
@import './page/page';

@import './page/forum';
@import './page/forumPost';
@import './page/forumInfo';
@import './page/contact';

@import './page/msForumManagement';
@import './page/msEditAdmins';
@import './page/msLogin'; 
@import './page/page';
@import './page/memberCardAdd';
@import './page/memberCardEdit';
@import './page/msLogin.scss'; 
@import './page/page';
@import './page/memberCardAdd';
@import './page/memberCardEdit';
@import './page/register';
@import './page/mailCheck';
@import './page/forgetPassword';
@import './page/singin';
@import './page/forgetPasswordRedirect';
@import './page/registerRedirect';
@import './page/cartRedirect';
@import './page/mailCheckRedirect';

@import './page/_register';
@import './page/_mailCheck';
@import './page/_forgetPassword';
@import './page/_singin';
@import './page/_forgetPasswordRedirect';
@import './page/registerRedirect';
@import './page/cartRedirect';
@import './page/mailCheckRedirect';

@import './page/memberPassword';
@import './page/msLongfrom';

@import './page/mailCheckRedirect';
@import './page/membercard';
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 414px){
    .wrapper{
        width: 414px;
    }
}

@include btnn(100px);

.Label{
    @include Label();
}
// sass sass\style.scss css/style.css -w