// 有用到的 mixins 再丟進來，不要全丟！
// 只有自己用到的話就不要丟進來，寫在自己的 <style lang="scss" scoped> 裡面

@mixin center(){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin btn($w){
    .btn{
        margin: 0 auto;
        max-width: $w;
        padding: 10px 16px;
        line-height: 40px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        transition: all .3s;
        border-radius: 10px;
        background-color: $green;
        color: #fff;
        font-size: 20px;
        letter-spacing: .15em;
        box-shadow: $shadow;
        border: none;
        @content;
        &:hover{
            // background-color: darken($bgc,10);
            background-color: $orange;
        };
        &__submit{
            background :#F29441;
        }
        &__addCart{      
            background :#F29441;
        }
        &__pCardAddCart{
            border-radius: 50%;
        }
        @include m(){
            max-width: 140px;
            display: block;
            padding: 0;

        }
}
}