footer{
    background-color: $orange;
    height: 250px;
    color: #fff;

    font-family: 'Noto Sans TC';
    font-size: 20px;
    letter-spacing: 0.1em;
}
.footer_nav{
    @include wrapper();
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 36px 0 28px 0;
}
.footer_nav_left{
    // border: 3px solid red;
    margin-right: 100px;

}
.footer_nav_left_logo{
    margin-bottom: 30px;
    width: 240px;
}
.footer_nav_left_icons{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    
}
.footer_nav_left_icons a{
    color: #fff;
    margin: 2px 8px;
    transition: .2s;
}

.footer_nav_right{
    
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    // border: 5px solid #eeffa9;
}

.footer_nav_right > li:nth-child(2){
    margin-right: 100px;
}
.footer_nav_right > li > a{
    margin-bottom: 20px;
    color: #fff;
    transition: .2s;
}

.footer_nav_right > li:first-child > ol{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
   
}
.footer_nav_right > li:first-child > ol > li{
    // flex-shrink: 0;
    margin-right: 30px;
    line-height: 36px;
}

.footer_nav_right > li > ol > li a,.footer_nav_right > li > span{
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    transition: .2s;
}
.footer_nav_right > li > ol > li a,.footer_nav_right > li > span > i{
    margin-right: 12px;
}
.footer_nav_left a:hover,.footer_nav_right a:hover{
    color: $brown;
}

@include m(){
    .footer_nav{
        width: 370px;
        flex-direction: column;
    }
    .footer_nav_left{
        margin: 0;
        margin-bottom: 20px;
    }
    .footer_nav_left_logo{
        width: 160px;
    }
    .footer_nav_left_icons{
        font-size: 28px;
    }
    .footer_nav_left_icons a{
        margin: 0 5px;
    }
    .footer_nav_right li{
        display: none;
    }
    
    .footer_nav_right li:last-child{
        display: block;
        text-align: center;
    }
    .footer_nav_right li:last-child a{
        display: none;
    }
}