footer{
    background-color: $orange;
    height: 250px;
    color: #fff;

    font-family: 'Noto Sans TC';
    font-size: 20px;
    letter-spacing: 0.1em;
}
.footer_nav{
    @include wrapper();
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 0;
}
.footer_nav_left{
    border: 3px solid red;
    margin-right: 100px;

}
.footer_nav_left_logo{
    margin-bottom: 30px;
}
.footer_nav_left_icons{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}
.footer_nav_left_icons a{
    color: #fff;
}

.footer_nav_right{
    flex-grow: 1;
    border: 5px solid #eeffa9;
}

.footer_nav_right > li{
    flex-grow: 1;
}
.footer_nav_right > li > a{
    margin-bottom: 20px;
    color: #fff;
}

.footer_nav_right > li > ol > li{
    margin-bottom: 20px;
}
.footer_nav_right > li:first-child > ol{
    width: 240px;
    display: flex;
    flex-wrap: wrap;
   
}
.footer_nav_right > li:first-child > ol > li{
    // flex-shrink: 0;
    margin-right: 30px;
}