.cartFill_del_info{
    font-size: 24px;
    margin-top: 40px;
    ul{
        display: flex;
    }
    li{
        display: flex;
        
    }

}
.carFill_prog_f ::after{
    content: "";
    width: 127px;
    border: 1.7px solid $green;
    height: 0px;
    display: block;
    position: absolute;
    right: -129px;
    bottom: 31px;
}
.cartFill_deliv{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    line-height: 2;
    margin-bottom: 50px;
    div{
        margin-right: 40px;
        label{
            font-size: 14px;  
        }
        h2{
            border-bottom:1px solid $brown ;
            margin-bottom: 10px;
            div{
                display: inline;
                input{
                    width: 3.333333%;
                }
            }
        }
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    ul{
        input{
           height: 30px;
    font-size: 20px;  
        }
    }
}
.cartFill_deliv_add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    
    input{
        margin-bottom: 20px;
        height: 30px;
    }
    select{
        font-size: 20px;
        text-align: center;
        margin-bottom: 40px;
        height: 38px;
        
    }
}
.cartFill_deliv_submit{
        margin-top: 10px;
        width: 100%;
        height: 40px;
        background-color: $orange;
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 22px;
}
.cartFill_deliv_submit:hover{
    background-color: $green;
}
.form-select{
    color: $brown;
}
@media screen and (max-width: 414px){
    .cartConfirm_con_title_item{
        .cartConfirm_con_title_item_num,.cartConfirm_con_title_item_del{
            display: none;
        }
        .cartConfirm_con_title_item_name{
            margin-top: 30px;
        }
    }
    .cartFill_del_info{
        display: none;
    }
    .cartFill_deliv{
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        height: 480px;
        div{
            width: 100%;
            h2{
                border-top: 1px solid #513F2E;
                border-bottom: 0;
                font-size: 18px;
                font-weight: 700;
                width: 100%;
                display: flex;
                flex-direction: column;
                input{
                    width: 15px;
                    font-size: 16px;
                }
            }
            h3{
               display: none; 
               
            }
            ul{
                li{
                   input{
                        font-size: 16px;
                        margin-bottom: 30px;
            } 
                }
            }
        }
        input{
            margin-bottom: 40px;
        }
        
    }
    .cartFill_deliv>div:nth-child(2) > h2{
        display: none;
    }
    .cartFill_deliv_add{
        margin-top: 5px;
        select{
            font-size: 16px;
            margin-bottom: 30px;
        }
        .form-select{
            width: 48%;
        }
       
    }
}