.cartFill_wrapper {
    width: 1200px;
    margin: 0 auto;
    color: $brown;
    font-family: 'Noto Sans TC';

    input:focus {
        outline: none;
    }

    input {
        padding: 0;

    }

    h2 {
        letter-spacing: 0.05em;
    }
}

.cartFill_del_info {
    font-size: 24px;
    margin-top: 40px;

    ul {
        display: flex;
    }

    li {
        display: flex;

    }

}

.cartFill_wrapper .cartConfirm_top li {
    line-height: 2.4;
}

.cartFill_wrapper .cartConfirm_con_title {
    box-sizing: border-box;
    padding-left: 30px;
    margin-bottom: 35px;
}

.cartFill_wrapper .cartConfirm_con_title_item li {
    margin-top: 0px;
    margin-bottom: 15px;

    .cartConfirm_con_title_item_name {
        margin-right: 10px;
    }
}

.cartFill_wrapper.cartConfirm_con_title_item_img {

    padding-left: 14px;
}

.carFill_prog_f ::after {
    content: "";
    width: 133px;
    border: 2px solid $green;
    height: 0px;
    display: block;
    position: absolute;
    right: -134px;
    bottom: 31px;
}

.cartFill_deliv {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    line-height: 2;
    margin-bottom: 194px;

    div {
        width: 580px;

        label {
            font-size: 14px;
        }

        h2 {
            border-bottom: 1px solid $brown ;
            margin-bottom: 10px;

            div {
                display: inline;

                input {
                    width: 3.333333%;
                }
            }
        }
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        input {
            height: 50px;
            font-size: 20px;
            width: 275px;
        }

        li {
            width: 48%;
        }
    }

    .cartFill_deliv_credit {
        h2 {
            select {
                margin-left: 166px;
                width: 275px;
                font-size: 20px;
                margin-bottom: 8px;

            }
        }

        input:nth-last-child(1) {
            margin-top: 0;
            height: 50px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 48%;
                margin-bottom: 18px;
            }
        }

        ul li:nth-child(1) {
            width: 100%;

            input {
                width: 580px;
            }

        }
    }
}

.cartFill_deliv_add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;

    input {
        margin-bottom: 20px;
        height: 50px;
        font-size: 20px;
    }

    select {
        font-size: 20px;
        text-align: left;
        margin-bottom: 19px;
        margin-top: 19px;
        height: 50px;
        width: 278px;

    }
}

.cartFill_deliv_submit {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: $orange;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
}

.cartFill_deliv_submit:hover {
    background-color: $green;
}

.form-select {
    color: $brown;
}

@media screen and (max-width: 414px) {
    .cartFill_wrapper {
        width: 370px;

        .cartConfirm_con {
            width: 100%;
            max-height: 400px;
        }

        .cartConfirm_prog_tag {
            width: 100%;
        }

        .cartConfirm_con_title_item {
            .col-12 {
                height: 150px;
            }

            ul {
                ul {
                    height: 150px;
                }
            }

            .cartConfirm_con_title_item_img {
                height: 150px;

                img {
                    width: 77%;
                }
            }

            .cartConfirm_con_title_item_del {
                display: none;
            }

            .cartConfirm_con_title_item_name {
                margin-top: 30px;
                margin-bottom: 0;
            }

        }

        .carFill_prog_f ::after {
            width: 111px;
            right: -95px;
        }

        .cartConfirm_prog_s ::after {
            display: block;
            width: 106px;
            right: -110px;
        }

        .cartConfirm_con_title_item_num.order-2 {
            display: none;
        }
    }

    .cartFill_wrapper .cartFill_del_info {
        display: none;
        height: 0;
    }

    .cartFill_deliv {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        height: 840px;
        justify-content: center;
        margin-bottom: 50px;

        .cartFill_deliv_credit {
            ul {

                .cartFill_deliv_y,
                .cartFill_deliv_psw {
                    height: 35px;
                    margin-bottom: 70px;
                }
            }

            .cartFill_deliv_submit {
                margin-top: 30px;
            }

        }


        .cartFill_deliv_credit h2 select {
            margin-left: 0;
            width: 100%;
            height: 35px;
            font-size: 16px;
            margin-bottom: 30px;
        }

        .cartFill_deliv_credit ul li:nth-child(1) input {
            width: 99%;
            height: 35px;
            font-size: 16px;
        }

        ul {
            li {
                width: 100%;

                input {
                    width: 100%;
                    height: 35px;
                }
            }
        }

        div {
            width: 100%;

            h2 {
                border-top: 1px solid #513F2E;
                border-bottom: 0;
                font-size: 18px;
                font-weight: 700;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 0;

                input {
                    width: 15px;
                    font-size: 16px;
                }
            }

            h3 {
                display: none;

            }

            ul {
                li {
                    input {
                        font-size: 16px;
                        margin-bottom: 30px;
                        height: 35px;
                    }
                }
            }
        }

        input {
            margin-bottom: 40px;
        }

    }

    .cartFill_deliv_add {
        margin-top: 5px;

        input {
            height: 35px;
            font-size: 16px;
        }

        select {
            font-size: 16px;
            margin-bottom: 30px;
        }

        .form-select {
            width: 48%;
            height: 35px;
            margin-top: 0;
        }

    }
}