.cartConfirm_wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: $brown;
    font-family: 'Noto Sans TC';
    input:focus {
        outline: none;
    }
}

.cartConfirm_top {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

    ul {
        display: flex;
        margin: 10px auto;
        justify-content: space-around;
        text-align: center;
    }
}

.cartConfirm_prog {

    li {
        background-color: #fff;
        display: block;
        width: 66px;
        height: 66px;
        border: 2px solid $brown;
        border-radius: 50%;
        text-align: center;
        line-height: 2.2;
        font-size: 30px;
        position: relative;
    }

    .active {
        background-color: $green;
        color: #fff;
        font-weight: 600;
        border: 2px solid $green;
    }

}

.cartConfirm_prog_s ::after {
    content: "";
    width: 130px;
    border: 1.7px solid $brown;
    height: 0px;
    display: block;
    position: absolute;
    right: -133px;
    bottom: 31px;
}

.cartConfirm_prog_f::after {
    content: "";
    width: 142px;
    border: 1.7px solid $brown;
    height: 0px;
    display: block;
    position: absolute;
    right: -145px;
    bottom: 33px;
}

.cartConfirm_prog_tag {
    li {
        margin-top: 10px;
        margin-left: 13px;
    }
}

.cartConfirm_con {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 10%;
    }
}

.cartConfirm_con_title {
    display: flex;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid $brown;
    text-align: left;
    ;
    justify-content: space-around;

    li {
        margin-bottom: 15px;
        padding-left: 35px
    }
}

.cartConfirm_con_title_item {
    display: flex;
    flex-direction: column;
    max-height: 445px;
    overflow-y: auto;

    li {
        margin-top: 34px;
        display: block;
        height: 180px;
        background-color: #F2F2F2;
        color: $brown;
        border-radius: 5px;

        ul {
            width: 100%;
            display: flex;
            text-align: center;
            font-size: 20px;
            letter-spacing: 1px;

            img {
                width: 115px;
            }

            li {
                display: flex;
                height: 180px;
                margin-top: 0;
                justify-content: center;
                align-items: center;

                button {
                    background-color: #f2f2f200;
                    border: 0;
                    font-weight: 500;
                    font-size: 13px;
                }

                button:hover {
                    background-color: $orange;
                    border: 0;
                }
            }
        }
    }
}

.cartConfirm_con_title_item_img {
    width: 250px;
}

.cartConfirm_con_del {
    width: 30px;
}

.cartConfirm_con_title_item_num {
    box-sizing: border-box;
    width: 166px;
    margin-left: 25px;
    margin-right: 22px;

    div {
        border: .5px solid rgb(186, 186, 186);
        border-radius: 5px;
        height: 32px;
        display: flex;
        background-color: #fff;

        input {
            border: .1px solid rgba(128, 128, 128, 0.399);
            text-align: center;
        }

        button {

            font-size: 13px;

        }
    }


}

.fa-trash-can {
    margin-left: 30px;
}

.cartConfirm_con_title_item_name {
    text-align: left;
    width: 208px;
}

.cartConfirm_con_title_item_price {
    box-sizing: border-box;
    padding-right: 16px;
    width: 233px;
}

.fa-trash-can {
    padding-right: 5px;
}

.cartConfirm_con_title_item_sum {
    box-sizing: border-box;
    margin-right: 0;
    width: 208px;
    padding-left: 38px;
}

.cartConfirm_deliv {
    margin-top: 86px;
    margin-bottom: 136px;
    line-height: 2;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;

        .cartConfirm_deliv-h3-discount {
            margin-top: 0;
            margin-bottom: 35px;
        }

        select {
            height: 50px;
            font-size: 20px;
        }

        p,
        h3 {
            display: flex;
            justify-content: space-between;
        }

        p {
            span {
                font-weight: bold;
            }
        }
    }

    h2 {
        font-size: 24px;
        border-bottom: 1px solid $brown;

    }

    h3,
    p {
        margin-top: 36px;
        font-size: 20px;
    }

    input {
        margin-top: 40px;
        width: 100%;
        height: 50px;
        background-color: $orange;
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 22px;
    }

    input:hover {
        background-color: $green;
    }
}

.cartConfirm_deliv>div:first-child,
.cartConfirm_deliv>div:nth-child(2) {
    width: 580px;
}

@media screen and (max-width: 414px) {
    .cartConfirm_wrapper {
        width: auto;

        .cartConfirm_prog_f::after {
            width: 196px;
            right: -200px;
        }

    }

    .cartConfirm_con_title_item li ul .col-2 {
        width: 22%;
    }

    .cartConfirm_deliv>div:first-child,
    .cartConfirm_deliv>div:nth-child(2) {
        width: 100%;
    }

    .cartConfirm_top {
        width: 100%;
        margin-bottom: 25px;
        margin-top: 0;

        .cartConfirm_prog_tag {
            li {
                height: 43px;
            }
        }

        ul {
            margin-bottom: 5px;
            width: 90%;

            li {
                width: 65px;
                height: 65px;
                line-height: 2.2;
                margin-left: 0;
            }
        }
    }

    .carFill_prog_f ::after {
        width: 57px;
        right: -109px;
        bottom: 28px;
    }

    .cartConfirm_prog_s ::after {
        display: none;
    }

    .cartConfirm_prog_tag {
        border-bottom: 1.5px solid $brown ;

        li {
            font-weight: 600;
        }
    }

    .cartConfirm_con {
        width: 90%;
        margin: 0 auto;
        height: 500px;
        max-height: 600px;
        margin-bottom: 5px;

        h2 {

            font-size: 18px;
            font-weight: 700;

        }
    }

    .cartConfirm_con_title {
        display: none;
    }

    .cartConfirm_con_title_item {
        margin-top: 25px;

        li {
            margin-top: 12px;
        }

        ul {

            li {


                img {
                    width: 80%;
                }
            }

            ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                box-sizing: border-box;
                position: relative;

                .cartConfirm_con_title_item_price {
                    display: none;
                    height: 0;
                }

                .cartConfirm_con_title_item_num {
                    width: 67%;
                    margin-top: 15px;
                    margin-left: 0;

                    div {
                        input {
                            border: 0;
                        }
                    }
                }


                .col-1 {
                    height: 0;
                }

                li {
                    font-size: 18px;
                    width: 100%;
                    height: 30px;
                    justify-content: left;
                    margin-top: 10px;
                    margin-bottom: 8px;
                    padding-left: 0;


                    .fa-trash-can {
                        position: absolute;
                        top: 151px;
                        right: 9px;
                    }

                }
            }
        }
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .cartConfirm_deliv {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        height: 623px;

        div:nth-child(2) {
            p {
                margin-top: 23px;
                margin-bottom: 23px;
            }
        }

        h2 {
            box-sizing: border-box;
            font-size: 18px;
            font-weight: bold;
            border-bottom: 0;
            border-top: 1px solid $brown;
            padding-top: 34px;
        }

        div {
            width: 103%;

            select {
                height: 35px;
                width: 94%;
                font-size: 16px;

            }

            .cartConfirm_deliv_rwd {
                display: flex;
                flex-direction: row;
                margin-bottom: 54px;
            }

            h3,
            p {
                margin-top: 35px;
                font-size: 16px;

                select {
                    width: 70%;
                }
            }

            input {
                margin-bottom: 90px;
            }

        }
    }



}