.forumPost_wrapper{
    // border: 1px solid red;
    @include wrapper();
    font-family: Noto Sans, Noto Sans TC, sans-serif;
    color: $orange;
}

.forumPost_form{
    // border: 1px solid green;
    width: 80%;
    margin: 0 auto;
    background-color: $bg;
    padding: 70px 0;
    margin-bottom: 120px;
}

.forumPost_form_title{
    // border: 1px solid blue;
    margin: 0 80px;
}

.forumPost_form_category, 
.forumPost_form_score,
.forumPost_form_area{
    border: 1px solid purple;
    background-color: $orange;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    font-size: $p;
    cursor: pointer;
    width: 170px;
    height: 50px;
    letter-spacing: .1em;
}

.forumPost_form_area{
    display: none
}

.forumPost_form_title_text{
    @include input-text(2.9, 300px);
    margin: 0 20px;
    border: 1px solid $orange;
    &::placeholder{
        color: $orange;
    }
}

.forumPost_form_middle{
    // border: 1px solid red;
    @include flex-container(column, wrap, start, start);
    margin: 50px 80px;
    font-size: $h2;
}

.forumPost_form_middle_title{
    margin-bottom: 20px;
}

.forumPost_form_middle_input{
    @include input-text(2.9, 100%);
    &::placeholder{
        color: #999;
    }
}

.forumPost_form_middle_text{
    margin: 40px 0 20px;
}

.forumPost_form_middle_textarea{
    @include input-text(1.5, 100%);
    resize: none;
    padding-left: 10px;
    height: 400px;
}

.forumPost_form_middle_bottom{
    margin: 40px 0 20px;
}

.forumPost_form_middle_bottom_text{
    @include input-text(2.9, 100%);
    margin-bottom: 50px;
    &::placeholder{
        color: #999;
    }
}




.forumPost_form_button{
    @include btn($orange, 2, 100%, $green);
    border: none;
}

input[type=submit]{
    font-size: $h2;
}






// ===== 手機版 414px ===== //
@include m(){
    .forumPost_wrapper{
        width: 370px;
    }

    .forumPost_form{
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: white;
    }




    .forumPost_form_title{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .forumPost_form_title_text{
        width: 100%;
        margin: 20px 0 0;
        &::placeholder{
            color: #999;
        }

    }

    .forumPost_form_category{
        order: -2;
        width: 47.3%;
    }

    .forumPost_form_score{
        order: -1;
        width: 47.3%;
    }




    .forumPost_form_middle{
        width: 100%;
        margin: 0 auto;
    }

    .forumPost_form_middle_title, 
    .forumPost_form_middle_text,
    .forumPost_form_middle_bottom{
        display: none;
    }

    .forumPost_form_middle_input,
    .forumPost_form_middle_textarea{
        margin-top: 20px;
        border: 1px solid $orange;
    }

    .forumPost_form_middle_bottom_text{
        margin: 20px 0;
        border: 1px solid $orange;
    }

    .forumPost_form_button{
        width: 100%;
        margin-bottom: 25px;
    }
}