.forgetPassword_box {
  width: 894px;
  height: 892px;
  margin: 0 auto;
  background: #F2F2F2;
  box-shadow: $shadow;
  border: 5px solid gold;
    .forgetPassword_h1{
      text-align: center;
      margin: 0 auto;
    }
      .forgetPassword_p{
        text-align: center;
      }
        .forgetPassword_btn {
          background: #AFBF30;
          line-height: 59px;
          width: 590px;
          display: block;
          text-decoration: none;
          text-align: center;
          border-radius: 5px;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
          transition: 0.3s;
          cursor: pointer;
          color: #fff;
          display: block;
          margin: 0 auto;
        }
          .forgetPassword_text{
            color: #000;
            border: 10px solid peru;
            display: block;
            margin: 0 auto;
          }
            .forgetPassword_btn:hover {
              background: #513F2E;
            }
}









