.forum_wrapper{
    @include flex-container(row, wrap, center, flex-start);
    @include wrapper();
    font-family: Noto Sans, Noto Sans TC, sans-serif;
    // border: 1px solid red;
}


// ===== 左側選單 ===== //
.forum_sidemenu{
//    border: 1px solid purple; 
   display: inline-block;
}

.forum_sidemenu li{
    // border: 1px solid blue;
    @include sidemenu();
    @include flex-container(row, wrap, start);

}

.forum_sidemenu li:last-child{
    margin-top: 50px;
    justify-content: center;
    padding: 0;
    background-color: $brown;
    box-shadow: $shadow;
    &:hover{
        background: $orange;
    }  
}

.forum_sidemenu_li.active{
    background-color: $orange;
}

.forum_sidemenu li i{
   margin-right: 10px;
}




// ===== 右側內容 ===== //
.forum_right{
    width: 40%;
    flex-grow: 1;
    margin-left: 40px;
}


// ===== 廣告區域 ===== //
.forum_advertise{
    width: 100%;

    img{
        width: 100%;
    }
}



// =====  文章title ===== //
.forum_article_title{
    // border: 1px solid red;
    @include flex-container();
    margin: 100px 0 40px;
    width: 100%;
}

.forum_article_title h2{
    // border: 1px solid black;
    font-size: $h2;
    flex-grow: 1;
    text-align: start;
}

// .forum_article_title select{
//     background-color: $orange;
//     border: none;
//     outline: none;
//     border-radius: 5px;
//     color: white;
//     padding: 5px 10px;
//     font-size: $p;
// }

.forum_article_title{
    .forum_sort{
        @include drowDown(210px, 50px, 100%, 50%);
        button{
            span{
                letter-spacing: .1em;
            }

            .fa-angle-down{
                margin-left: 15px;
                font-weight: 600;
            }
        }

        ul{
            // border: 1px solid black;
            width: 15%;
            top: 526px;
            right: 103px;
            li{
                // border: 1px solid blue;
                // display: block;
                a{
                    // border: 1px solid red;
                    display: block;
                    width: 100%;
                    font-size: $p;
                    line-height: 3;
                    letter-spacing: .1em;
                    color: white;
                }
            }
        }   
    }
}

.forum_sort_order.active{
    display: block;
}



// ===== 中間文章區域 ===== //
.forum_article_item1{
    // border: 1px solid plum;
    @include flex-container(row, nowrap, start, center);
    background-color: $bg;
    margin-bottom: 30px;
    box-shadow: $shadow;
    border-radius: 5px;
}

// ===== 文章左側評分&發文人&發文日期 ==== //
.forum_article_item1_left{
    // border: 1px solid green;
    width: 12.2%;
    margin: 30px 40px 30px 30px;
}

.forum_article_item1_left li{
    // border: 1px solid black;
    width: 100%;
}

.forum_article_item1_left .forum_category {
    // border: 1px solid black;
    background-color: white;
    text-align: center;
}

.forum_article_item1_left .forum_category h2{
    color: $d-pink;
    line-height: 4.8;
    font-size: $h2;
    margin-bottom: 10px;
}

.forum_article_item1_left .forum_name_data{
    font-size: $p;
    color: $brown;
    line-height: 1.5;
}


.forum_article_item1_right{
    width: 60%;
    flex-grow: 1;
    color: $brown; 
}

// ===== 文章標籤 ===== //
.forum_article_item1_right_label{
    // border: 1px solid blue;
    @include flex-container(row, wrap, space-around);
    width: 60%;
    margin-bottom: 20px;
}

.forum_article_item1_right_label li{
    // border: 1px solid orchid;
    @include Label();
}



// ===== 文章標題和內文 ===== //
.forum_article_item1_right_middle{
    // border: 1px solid olive;
    padding-left: 13px;
    width: 95%;
    margin-bottom: 25px;
}

.forum_article_item1_right_middle h2{
    // border: 1px solid yellow;
    font-size: $h2;
    margin-bottom: 10px;
    letter-spacing: 3px;
    line-height: 1.5;
}

.forum_article_item1_right_middle p{
    // border: 1px solid red;
    font-size: $p;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}


// ===== 文章下方 ===== //
.forum_article_item1_right_bottom{
    // border: 1px solid blueviolet;
    @include flex-container(row, wrap, flex-start);
    width: 90%;
    padding-left: 5px;
}

.forum_article_item1_right_bottom li{
    @include flex-container();
    margin-left: 10px;
}

.forum_article_item1_right_bottom li + li{
    margin-left: 20px;
}

.forum_article_item1_right_bottom li i{
    margin-right: 5px;
}

// ===== 換頁區域 ===== //
.forum_pagination_bar{
    // border: 1px solid gray;
    @include flex-container();
    margin: 100px 0 120px;
    width: 100%;
    color: $brown;
}

.forum_pagination_bar a{
    margin: 10px;
}


// ===== 手機版的選單 ===== //
.forum_media{
    // border: 1px solid red;
    display: none;
}

.forum_media_button{
    // border: 1px solid blue;
    @include btn($brown, 2, 100%, $orange);
    text-align: center;
    font-size: $h3;
}

// .forum_media_select, 
// .forum_media_sort{
//     // border: 1px solid yellow;
//     select{
//         display: block;
//         width: 100%;
//         padding: 10px 10px;
//         border-radius: 5px;
//         color: white;
//         font-size: $p;
//         border: none;
//         outline: none;
//     }

// }

// .forum_media_menu_select{
//     background-color: $green;
// }

// .forum_media_menu_sort{
//     background-color: $orange;
// }







// ===== 手機版 ===== //
@media screen and (max-width: 414px){
.forum_wrapper{
    width: 370px;
    flex-direction: column;
}

// 桌機板左側選單
.forum_sidemenu{
    display: none;
}


.forum_right{
    width: 100%;
    flex-grow: 0;
    margin-left: 0;
}

.forum_advertise{
    width: 100%;
    margin-bottom: 40px;

    img{
        width: 100%;
    }
}


.forum_article_title{
    display: none;
}




// ===== 手機版選單 ===== //
.forum_media{
    display: block;
    width: 100%;

    .forum_media_button{
        margin-bottom: 20px;
        font-size: 1.1rem;
    }

    .forum_media_select{
        @include drowDown(100%, 40px, 100%, 50%);
        margin-bottom: 10px;
        

        button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $green;
            font-size: 1.1rem;

            span{
                letter-spacing: .1em;
                margin: 0 10px;
            }

            .fa-angle-down{
                font-weight: 600;
            }

            
        }

        ul{
            width: 89.3%;
            top: 313px;

            li{
                // display: block;
                width: 100%;

                a{
                    width: 100%;
                    line-height: 2.5;
                    background-color: $green;
                    color: white;
                    letter-spacing: .1em;
                }
            }
        }
    }

    .forum_media_select_order.active{
        display: block;
    }

    .forum_media_sort{
        margin-bottom: 40px;
        @include drowDown(100%, 40px, 100%, 50%);

        button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.1rem;

            span{
                letter-spacing: .1em;
                margin: 0 10px;
            }


            .fa-angle-down{
                font-weight: 600;
            }
        }

        ul{
            width: 89.3%;
            top: 363px;

            li{
                // display: block;
                width: 100%;

                a{
                    width: 100%;
                    line-height: 2.5;
                    color: white;
                    letter-spacing: .1em;
                }
            }
        }
    }

    .forum_media_sort_order.active{
        display: block;
    }
}



.forum_article_item{
    width: 100%;
    &:last-child{
        margin-bottom: 85px;
    }
}

.forum_article_item1{
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
}

.forum_article_item1_left{
    width: 100%;
    margin: 20px 15px 10px;
}


.forum_article_item1_left li{
    width: 100%;
    margin-left: 15px;
}

.forum_article_item1_left .forum_category{
    display: none;
}

.forum_article_item1_left .forum_name_data{
    font-size: .8rem;

    p{
        display: inline-block;
    }

    p + p{
        margin-left: 10px;
    }
}


.forum_article_item1_right{
    width: 100%;
    margin-bottom: 20px;
}

.forum_article_item1_right_label{
    width: 100%;
    margin-bottom: 10px;
}

.forum_article_item1_right_label li{
    font-size: .5rem;
    padding: 5px;
    
    p{
        text-align: center;
    }
}



.forum_article_item1_right_middle{
    width: 100%;
    margin: 0;
    padding: 0;
}
.forum_article_item1_right_middle h2{
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 15px 10px;
}

.forum_article_item1_right_middle p{
    font-size: .9rem;
    margin: 0 15px 10px;
}

.forum_article_item1_right_bottom{
    width: 100%;
}

.forum_pagination_bar{
    display: none;
}
}