.mailCheck_wrapper{
  width: 1200px;
  margin: 0 auto;
}
.mailCheck_box{
  // border: 5px solid palegreen;
  width: 671px;
  height: 690px;
  box-shadow: $shadow;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  // background-color: grey;
  .mailCheck_logo{
    padding-top: 45px;
    height: 80px;
  }
    .mailCheck_logo_img{
      display: block;
      margin: 40px auto;
      // border: 3px solid palegreen;
      width: 170px;
      height: 41px;
      margin-bottom: 40px;
    }
    .mailCheck_little_box{
      // border: 5px solid palevioletred;
      width: 671px;
      margin-top: 70px;
    }
    .mailCheck_p{
      font-size: $h1_sub;
      color: $orange;
      text-align: center;
      margin-bottom: 45px;
    }
    .mailCheck_text{
      // border: 5px solid palegreen;
      color: $orange;
      width: 50px;
      height: 50px;
      margin-top: 50px;
      margin-bottom: 150px;
      // margin: 0 auto;
      display: flex;
      margin-right: 25px;
      margin-left: 10px;
    }
    .mailCheck_Check_btn{
      width: 590px;
      height: 60px;
      background-color: $orange;
      margin: 0 auto;
      display: flex;
      a{
        color: whitesmoke;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0 auto;
        
      }
    }
}


@media screen and (max-width:414px){
  body{
    display: block;
    width: 50%;
}
.mailCheck_box {
  margin-top: 50px;
  width: 414px;
  height: 392px;
  margin: 0 auto;
}
.mailCheck_box .mailCheck_text {

  width: 30%;
  height: 30%;
  margin: 0 auto;
  margin-right: 20px;
}

.mailCheck_logo{
  margin-bottom: 50px;
}

.mailCheck_box .mailCheck_btn{
  width: 70%;
  margin-top: 50px;
}

.mailCheck .mailCheck_p_text {
width: 100%;
font-size: 10px;
padding-bottom: 20px;
margin: 0 auto;
display: block;
}


}






