.membercard-right{
    width: 964px;
    &-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        // align-items: center;
        h2{
            font-size: $h1_sub;
        }
        a{
            @include btn($orange, 59px, 238px, $green);
            font-size: $h2;
            i{
                margin-left: 24px;
            }
        }
    }
    main{
        li{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
            border-radius: 5px;
            width: 964px;
            line-height: 87px;
            background: $bg;
            box-shadow: $shadow;
            font-size: $h3;
            .fa-brands{
                font-size: 40px;
            }
            h3{
                letter-spacing: 1px
            }
            .delete{
                display: flex;
                justify-content: space-between;
                width: 100px;
                font-size: 28px;
            }
        }
    }
}