.memberPassword-left{
    h2{
        font-size: 32px;
        margin-bottom: 31px;
        color: $brown;
    };
    ul{
        
        a{ @include sidemenu()
           ;
            i{
                margin-right: 13px;
            }
        };
        
    };
}

.memberPassword-right{
    h2{
        font-size: 32px;
        margin-bottom: 31px;
        color: $brown;
    }
    .memberPassword-right-card{
        width: 960px;
        background: $bg;
        border-radius: 5px;
        box-shadow: $shadow;
        padding: 76px 82px;
        box-sizing: border-box;
        h3{
            font-size: $h2;
            margin-bottom: 8px;
            letter-spacing: 1px;
        }
        input{
            @include input-text(50px, 793px);
            margin-bottom: 30px;
        }
        a{
            @include btn($orange, 59px, 793px, $green);
            font-size: $h2;
            letter-spacing: 1px;
            margin-top: 100px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 414px){
    header{
        display: none;
    }
    .wrapper{
        flex-direction: column;
    }
    .memberPassword-left h2{
        display: none;
    }
    .memberPassword-left ul{
        display: flex;
        justify-content: space-between;
        width: 367px;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .memberPassword-left ul a{
        width: 88px;
        line-height: 35px;
        text-align: center;
        font-size: 14px;
        padding-left: 0;
        letter-spacing: 1px;
    }
    .memberPassword-left ul a i{
        display: none;
    }
    .memberPassword-right{
        // display: none;
        margin: 0 auto;
    }
    .memberPassword-right h2{
        font-size: 20px;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 25px;
        font-weight: bold;
    }
    .memberPassword-right .memberPassword-right-card{
        width: 370px;
        padding: 32px 18px;
    }
    .memberPassword-right .memberPassword-right-card h3{
        font-size: 16px;
    }
    .memberPassword-right .memberPassword-right-card input{
        width: 335px;
        line-height: 35px;
        padding-left: 15px;
    }
    .memberPassword-right .memberPassword-right-card a{
        font-size: 16px;
        width: 335px;
        line-height: 40px;
    }
    footer{
        display: none;
    }
}