.memberCardEdit{
    margin: 0 auto;
    width: 590px;
    background: $bg;
    padding-top: 42px;
    border-radius: 5px;
    box-shadow: $shadow;
    h1{
        font-size: $h2;
        letter-spacing: 1px;
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 14px;
    }
    .cardimfo{
        padding: 33px;
        h2{
            font-size: $h3;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        input{
            @include input-text(50px, 525px);
            margin-bottom: 34px;
        }
        a{
            @include btn($orange, 59px, 525px, $green);
            font-size: $h2;
            letter-spacing: 1px;
            margin-top: 70px;
        }
    }
}

@media screen and (max-width: 414px) {
    header{
        display: none;
    }
    .wrapper{
        width: 414px;
    }
    .memberCardEdit{
        width: 370px;
    }
    .memberCardEdit h1{
        font-size: 20px;
    }
    .memberCardEdit .cardimfo{
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 50px;
        box-sizing: border-box;
    }
    .memberCardEdit .cardimfo h2{
        font-size: 18px;
        margin-bottom: 14px;
    }
    .memberCardEdit .cardimfo input{
        width: 334px;
        line-height: 35px;
        padding-left: 15px;
    }
    .memberCardEdit .cardimfo a{
        width: 156px;
        line-height: 40px;
        font-size: 16px;
        margin: 0 auto;
        margin-top: 70px;
    }
    footer{
        display: none;
    }
}