.member_wrapper{
    display: flex;
    justify-content: space-between;  
    padding-bottom: 150px;
    width: 1200px;
    margin: 0 auto;
    font-family: 'Noto Sans TC';
}

.member-left{
    h2{
        font-size: 32px;
        margin-bottom: 31px;
        color: $brown;
    };
    ul{
        
        a{ @include sidemenu()
           ;
            i{
                margin-right: 13px;
            }
        };
        
    };
}

.member-right{
    h2{
        font-size: 32px;
        margin-bottom: 31px;
        color: $brown;
    }
}

.member-right-card{
    width: 960px;
    background: $bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: $shadow;
    padding-top: 59px;
    h3{
        font-size: $h2;
        margin-bottom: 8px;
    }
    .member-right-name{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 691px;
        margin-bottom: 28px;
        .member-name-text{
            @include input-text(50px, 500px);
            font-size: 22px;
            &::placeholder{
                font-size: 16px;
            }
        }
    }
    .member-text{
        @include input-text(50px, 691px);
        font-size: 22px;
        &::placeholder{
            font-size: 16px;
        }
        margin-bottom: 34px;
    }
    .address{
        margin-bottom: 80px;
        .address-top{
            width: 691px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            select{
                @include input-text(50px, 330px);
                height: 50px;
            }
        }
    }
    a{
        @include btn($orange, 59px, 691px, $green);
        font-size: $h2;
        letter-spacing: 1px;
        margin-bottom: 95px;
    }
}

@media screen  and (max-width: 414px){
    .member_wrapper{
        width: 414px;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 70px;
    }
    .member-right-card{
        width: 370px;
    }
    .member-right h2{
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
    .member-right-card .member-right-name{
        width: 335px;
    }
    .member-right-name>img{
        width: 80px;
    }
    .member-right-card h3{
        font-size: 16px;
    }
    .member-right-card .member-right-name .member-name-text{
        width: 234px;
        line-height: 35px;
        font-size: 16px;
        padding-left: 15px;
    }
    .member-right-card .member-text{
        width: 335px;
        line-height: 35px;
        font-size: 16px;
        padding-left: 15px;
    }
    .member-right-card .address{
        width: 335px;
        margin-bottom: 40px;
    }
    .member-right-card .address .address-top{
        width: 335px;
    }
    .member-right-card .address .address-top select{
        width: 160px;
        height: 35px;
        padding-left: 10px;
    }
    .member-right-card a{
        width: 335px;
        line-height: 40px;
        font-size: 18px;
    }
}
