.memberCardAdd{
    margin: 0 auto;
    width: 590px;
    background: $bg;
    padding-top: 42px;
    border-radius: 5px;
    box-shadow: $shadow;
    position: relative;
    color: $brown;
    h1{
        font-size: $h2;
        letter-spacing: 1px;
        text-align: center;
        border-bottom: 1px solid $brown;
        padding-bottom: 14px;
    }
    .close{
        position: absolute;
        top: 45px;
        right: 25px;
        width: 50px;
        text-align: center;
        i{
            &:hover{
                color: $orange;
            }
            transition: .2s;
            font-size: 35px;
            color: $brown;
        }
    }
    .cardimfo{
        padding: 33px;
        label{
            display: block;
            font-size: $h3;
            letter-spacing: 1px;
            margin-bottom: 23px;
        }
        .cardName{
            margin-bottom: 53px;
        }
        input{
            @include input-text(46px, 525px);
            font-size: 22px;
            color: $brown;
            margin-bottom: 34px;
            &::placeholder{
            font-size: 16px;
        }
        }
        .addcard{
            @include btn($orange, 57px, 525px, $green);
            font-size: $h2;
            letter-spacing: 1px;
            margin-top: 70px;
            border: none;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 17px;
        }
    }
}

@media screen and (max-width: 414px) {
    .memberCardAdd{
        width: 370px;
        padding-top: 20px;
    }
    .memberCardAdd h1{
        font-size: 20px;
    }
    .memberCardAdd .close{
        top: 26px;
        right: 7px;
    }
    .memberCardAdd .close i{
        font-size: 30px;
    }
    .memberCardAdd .cardimfo{
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    .memberCardAdd .cardimfo label{
        font-size: 18px;
        margin-bottom: 14px;
    }
    .memberCardAdd .cardimfo input{
        width: 334px;
        line-height: 35px;
        padding-left: 15px;
        font-size: 16px;
    }
    .memberCardAdd .cardimfo .addcard{
        width: 156px;
        line-height: 40px;
        font-size: 16px;
        margin: 0 auto;
        margin-top: 35px;
    }

}