.mCP-left{
    background-color: $bg;
    box-shadow: $shadow ;
    height: 595px;
    ul{
        font-size: $p;
        width: 200px;
        li{
            padding: 25px;
            a{
            color: $brown;
            }
        }
        li:hover{
            border-left: 6px solid $orange;
        }
    }
}

.mCP-right{
    background-color: $bg;
    width: 828px;
    height: 702px;
    i.bi{
        float: right;
        padding: 20px;
        font-size: $h2;
        }
    form{
    display: flex;
    flex-direction: column;
    h1{

        font-size: $h1_sub;
        padding: 60px 20px 40px;
    }
    label{
        padding: 20px 0 10px 20px;
        font-size: $h2;
    }
    input{
        height: 45px;
        margin:  0 20px;
    }input:last-child{
        margin-top:  30px;
        height: 69px;
        background-color: $orange;
        font-size: $h2;
        color: white;
    }
    
}
}