.mCP-left{
    background-color: $bg;
    box-shadow: $shadow ;
    height: 595px;
    ul{
        font-size: $p;
        width: 200px;
        li{
            padding: 25px;
            a{
            color: $brown;
            }
        }
        li:hover{
            border-left: 6px solid $orange;
        }
    }
}


.ms_form_bg{
    // outline: 1px solid red;
    background-color: $bg;
    position: relative;
    width: 100%;
    margin-left: 40px;
    box-shadow:$shadow ;
    padding: 0 90px;
    // text-align: center;
    i.bi-x-lg{
        font-size: $h2;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    h1{
        margin-top: 70px;
        font-size: $h1_sub;
        margin-bottom: 20px;
    }
    label{
        font-size: $h3;
        display: block;
        padding-bottom: 10px;
    }
    input.ms_input{
        height: 30px;
        width: 100%;
        margin-bottom: 20px;

    }
    div.ms_login_btn{
        margin-top: 20px;
    }

}

.ms_form{
    i.bi-x-lg{
        font-size: $h2;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    h1{
        // margin-top: 70px;
        font-size: $h1_sub;
        margin-bottom: 20px;
    }
    label{
        font-size: $h3;
        display: block;
        padding-bottom: 10px;
    }
    input.ms_input{
        height: 30px;
        width: 98%;
        margin-bottom: 20px;

    }
    div.ms_login_btn{
        // margin-top: 20px;
    }

}