
.ms_form_bg{
    position: relative;
    font-family: "Noto Sans TC", sans-serif;
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 100px;
    i.bi-x-lg{
        font-size: $h2;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }
    h1{
        margin-top: 70px;
        font-size: $h1_sub;
        margin-bottom: 20px;
    }
    label{
        font-size: $h3;
        display: block;
        padding-bottom: 10px;
    }
    input.ms_input{
        height: 30px;
        width: 100%;
        margin-bottom: 20px;
        padding:0 10px ;
        font-size: $p;
        outline: none;
        letter-spacing: 0.1em;
    }
    div.ms_login_btn{
        margin-top: 20px;
    }

}

.ms_form_tw{
    position: relative;
    font-family: "Noto Sans TC", sans-serif;
    width: 550px;
    background-color: #f2f2f2;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 70px;
    i.bi-x-lg{
        font-size: $h2;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }
    h1{
        // margin-top: 70px;
        font-size: $h1_sub;
        margin-bottom: 20px;
    }
    label{
        font-size: $h3;
        display: block;
        padding-bottom: 10px;
    }
    input.ms_input{
        height: 30px;
        width: 95%;
        margin-bottom: 20px;
        padding:0 10px ;
        font-size: $p;
        outline: none;
        letter-spacing: 0.1em;
    }
    div.ms_login_btn{
        outline: 1px solid red;
        margin-bottom: 20px;
        // padding-bottom: 20px;
       
    }

}