.product-wrapper{
    @include wrapper();
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    h1{
    font-size: 32px;
    }
    h2{
    font-size: 24px;
    }
    h3{
    font-size: 20px;
    }
    // .btn{
    // $bg: $green;
    // $lh:59px;
    // $w:200px;
    // $hover:$d-pink;
    // @include btn($bg , $lh, $w, $hover);
    // margin-bottom: 10px;
    // font-size: 20px;
    // border: 0;
}
    .btn.active{
    background-color: $orange;
}



.product-top{
    width: 80%;
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    align-self: self-end;
}
.product-main{
    width: 100%;
    display: flex;
    aside{
        width: 200px;
    }
}

.breadcrumb ol{
    display: flex;
    font-size: 16px;
    width: 100%;
}
.breadcrumb-item {
    font-size: 16px;
    width:  36%;
}
.breadcrumb-item a::after{
    content: ">";
    margin-left: 10px;
    color: black;
}
.breadcrumb-item li:hover{
    background-color: $orange;
}
.breadcrumb-item.active a::after{
    display: none;
}
.product-filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 60px;
    .product-filter-div{
        box-sizing: border-box;
        display: flex;
        text-align: center;
        margin-right: 7px;
        justify-content: flex-end;
        div{
            margin-left: 20px;
            
        }  
    }
    ul{
        display: block;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: .5s
    }
    li{
        width: 131.3px;
        height: 40px;
        text-align: center;
        background-color: $orange ;
        color: #fff;
        
        a{
            height: 40px;
            color: #fff;  
            line-height: 2.5;
        }  
    }
    .active{
        opacity: 1;
    }
}
.product-filter-btn{
    width: 100%;
    height: 51px;
    background-color: $orange ;
    margin-right: 10px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    color: #fff;
    position: relative;
    cursor: pointer ;
    span{
       margin-left: 8px; 
    }
    img{
      width: 8%;  
    }
}
.product-filter-btn:hover{
   color: $brown;
    background-color: $green ;
    
}
.product-filter-player{
    display: block;
}
.product-filter li a:hover{
    background-color: $green;
    color: #fff;    
}
.product-filter-player{
    right: 343px;
    top: 218px;
}
.product-filter-age{
    right: 191px;
    top: 218px;
}
.product-filter-order{
    top: 218px;
}
.product-filter-player.active{
    display: block;
}
.product-filter-age.active{
    display: block;
}.product-filter-order.active{
    display: block;
}
.product-main{
    margin-top: 30px;
    position: relative;
    height: 1866px;
}
.product-sidemenu{
    @include sidemenu();
}
.product-main-category{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.product-main-category li{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.product-main-category li a{
    display: block;
    height: 75px;
    background-color: $green;
    font-size: 20px;
    line-height: 4;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

.prouct-item{
    width: 960px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
.prouct-item.active{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.prouct-item-card{
    width: 300px;
    height: 405px;
    border: 5px solid $green;
    margin-right: 10px;
    margin-bottom: 52px;
    position: relative;
}
.prouct-item-card-tag{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.prouct-item-card-tag p{
    display: block;
    height: 24px;
    background-color: $d-pink;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 2px;
    
}
.prouct-item-card-tag-player{
    width: 64px;
}
.prouct-item-card-tag-age{
    width: 40px;
}
.prouct-item-card-img{
    height: 233px;
    margin: 16px auto;
    text-align: center;
}
.prouct-item-card-infor{
    box-sizing: border-box;
    width: 300px;
    height: 126px;
    margin-top: 30px;
    padding: 5px;
    background-color: $green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-main aside ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
    li{
        margin-bottom: 20px;
        background-color: $green;
        text-align: center;
        line-height: 4;
        border-radius: 5px;
        a{
            font-size: 20px;
            color: #fff;
            height: 75px;
        }
    }
}
.product-main aside ul li.active{
        background-color: $orange;
}
.product-main aside ul li:hover{
    background-color: $d-pink;
}
.prouct-item-card.prouct-item-card-infor button{
    background-color: #fff;
    border-radius: 100%;
}
.prouct-item-card-infor{
    h2,h3{
    color: #fff;
    line-height: 2.5;
    letter-spacing: 5px}

}
.prouct-item-card.prouct-item-card-infor.prouct-item-card-icon{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #fff;
}

.custom-icon{
    font-size:25px;
    color: $green;
}
.product-page{
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
}
.product-page button{
    border: 0;
    background-color: #ffffff00;
    cursor: pointer ;
}
.product-page ul{
    display: flex;
    justify-content: center;
}
.product-page ul li{
   margin-right: 18px;
}
.product-page ul li a.active{
    color: $d-pink;
 }
.product-filter-cater{
    display: none;
}
// RWD
@media screen and (max-width: 414px){
    .product-wrapper{
        width: auto;
    }
    .col-3.breadcrumb{
        width: 0;
        padding-left: 0;
        display: none;
    }
    .product-filter{
        flex-direction: column;
        justify-content: center;
        margin-top: 65px;
        font-size: 14px;
        .product-filter-btn{
            width: 100%;
            margin-right: 0;
        }
        .product-filter-div{
            margin: 0 auto;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            div{
                margin-left: 0;
                width: 31%;
                button{
                    width: 100%;
                }
               
            }
        }
        button{
            display: flex;
            text-align: left;
            height: 40px;
            margin-bottom: 30px;
            align-items: center;
            justify-content: space-between;
            img{
                width: 100%;
            }
            span{
                font-size: 14px;
                margin-left: 0;
            }
        }
    }
    .product-top {
        margin-top: 52px;
        width: 90%;
        margin: 52px auto 0;
        div{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: 0;
            font-size: 14px;
        }
        h2{
            display: none;
        }
    }
    .product-filter-cater{
        display: flex;
        justify-content: space-evenly;
        button{
            width: 90%;
            display: flex;
            background-color: $green;
            justify-content: space-between;
            line-height: 2;
            font-size: 14px;
            img{
                width: 100%;
            }
        }
    }
    .breadcrumb{
        display: none;
    }
    .product-main{
        height: 2089px;
        aside{
            display: none;
        }
    }
    .prouct-item-card{
        width: 175px;
        height: 294px;
        .prouct-item-card-infor{
            width:100%;
            margin-top: 17px;
            height: 85px;
            h2,h3{
                font-size: 18px;
                line-height: 1.5;
            }
        }
        .prouct-item-card-img{
            height: 180px;
            width: 100%;
            img{
                display: block;
                width: auto;
                
            }
        }
    }
    .prouct-item{
        width: 100%;
    }
    .prouct-item-card-infor{
        button{
        width: 42px;
        height: 42px;
        
        .custom-icon{font-size: 20px;
        }}
        
    }
    
}