.product-wrapper{
    color: $brown;
}
button{
    cursor: pointer;
}
.infor-top{
    width: 100%;
    margin-top: 40px;
}
.breadcrumb-item.active a{
color: $orange;
font-weight: 600;
}
.infor-item{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.infor-item-img{
    display: flex;
}
.infor-item-img-sm{
    margin-top: 28px;
    height: 80px;
    ul{
    display: flex;
    flex-direction: column;
    li{
        height: 120px;
        text-align: center;
        img{
            width: 80%;
            margin-top: 10px;
            margin-left: 10px;
        }
    }
    li:hover{
        background-color: rgba(255, 166, 0, 0.49);
        cursor: pointer;
    }
}
}
.infor-item-img-bg{
    text-align: center;
    width: 500px;
}
.infor-item-img-bg img{
    width: 90%;
}
.infor-item-infro h1{
    margin-bottom: 20px;
    font-weight: 700;
}
.infor-item-infro p{
    margin-bottom: 10px;
    font-size: 20px;
}
.sel-amount{
    border: 1px solid #0000004f;
    height: 45px;
    margin: 0 auto;
    line-height: 2;
    display: flex;
    input{
        border: .1px solid rgb(175, 175, 175);
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
        height: 44.3px;
        font-size: 20px;
        padding: 0; 
    }
    button{
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
        height: 46.3px;
        font-size: 23px;
        padding: 0;
        font-weight: 800; 
        width: 56px;
    }
}
.sel-amount button:hover{
    background-color: $d-pink;
}
.intro{
    margin-bottom: 20px;
}
.infor-item-infro h2{
    margin-bottom: 45px;
    margin-top: 45px;
    font-weight: 800;
}
.infor-item-buy{
    display: flex;
    justify-content: space-between;
    button{
        width: 235px;
    }
}
.infor-item .btn{
    max-width: 500px;
    background-color: $orange;
    height: 52px;
    line-height: 2;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 20px;
}
.infor-detail{
    a{
        color: $brown;
    }
    
}
.infor-detail-nav{
    display: flex;
    margin-top: 30px;
    height: 90px;
    ul{
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
    li{
       border-bottom:1px solid black ;
    }
    a{
        display: block;
        background-color: #ffffff00;
        border: 0;
        height: 50px;
        font-size: 24px;
        text-align: center;
        line-height: 2;
    }
}
.product-top h2,.product-main h2,.product-page h2{
    color: $brown;
}

.infor-detail-nav li.active{
    font-weight: 700;
    border-bottom: 2px solid $orange;
}
.infor-detail-nav li:hover{
    background-color: $orange;
}
.infor-detail-contain section{
    line-height: 2.5;
    font-size: 16px;
    margin-top: 20px;
    display: none;
}
.infor-detail-contain section.active{
    display: block;
}
.infor-bottom h2{
    margin-top: 100px;
    color: $brown;
    font-weight: 700;
    border-bottom:1px solid  $brown;
}
.infor-bottom-item{
    display: flex;
    overflow: hidden;
    margin-left: 0;
    margin-top: 20px;
    justify-content: space-between;
}
.prouct-item-card{
    margin-left: 0;
    width: 266px;
}
.prouct-item-card-infro{
    width: 266px;
}
.prouct-item-card-infro div h2{
    color: #fff;
    margin-top: 10px;
    border: 0;
}
.prouct-item-card-infro button{
    border-radius: 100%;
    border: 0;
    background-color: #fff;
    width: 56px;
    height: 56px;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-icon{
    margin: 0 auto;
}


.fa-star{
    color: #ffd500;
}
.infor-detail-star-rank{
    display: flex;
    letter-spacing:2px;
    margin-left: 28px;
    justify-content: flex-end;
}
.infor-detail-star-rank ul{
    margin-left: 10px;
    display: flex;
}
.infor-detail-star-comment-main{
    align-self: flex-end;
}
.infor-detail-star-comment{
    height: 350px;
    overflow: auto;
    article{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(201, 201, 201);
    }
}
.infor-detail-star-comment-top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    img{
        display: block;
        width: 30px;
        height: 30px;
    }
    ul{
        display: flex;
    }
}
@media screen and (max-width: 414px){
    .prouct-item-card{
    width: 175px;
    }
    .prouct-item-card-infro{
        button{
        width: 42px;
        height: 42px;
        font-size: 17px;
        }
        
    }
}