.wrapper{
    @include wrapper();
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}

.product-top{
    width: 83%;
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    align-self: self-end;
}
.col-3.breadcrumb{
    padding-left: 20px;
}
.product-main{
    width: 100%;
    display: flex;
}

.breadcrumb ol{
    display: flex;
    font-size: 16px;
    width: 100%;
}
.breadcrumb-item {
    font-size: 16px;
    width:  36%;
}
.breadcrumb-item a::after{
    content: ">";
   margin-left: 10px;
}
.breadcrumb-item a:hover{
    color: $orange;
}
.breadcrumb-item.active a::after{
    display: none;
}
.product-filter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 60px;
}
.product-filter div{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 12px;
   
}
.product-filter-btn{
    width: 100%;
    height: 51px;
    background-color: $orange ;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    color: #fff;
    position: relative;
    cursor: pointer ;
}
.product-filter-player{
    display: block;
}
.product-filter-btn span{
   margin-left: 8px;
}
.product-filter-btn img{
    width: 8%;
}
.product-filter ul{
    display: block;
    position: absolute;
    z-index: 1;
    
}
.product-filter li{
    width: 146.5px;
    height: 40px;
    text-align: center;
    background-color: $orange ;
    color: #fff;
    display: none;    
}
.product-filter li a{
    height: 40px;
    color: #fff;  
    line-height: 2.5;  
}
.product-filter li a:hover{
    background-color: $green;
    color: #fff;    
}
.product-filter-player{
    right: 360px;
    top: 147px;
}
.product-filter-age{
    right: 202px;
    top: 147px;
}
.product-filter-order{
    top: 147px;
}
.product-filter-player.active{
    display: block;
}
.product-filter-age.active{
    display: block;
}.product-filter-order.active{
    display: block;
}
.product-main{
    margin-top: 30px;
    position: relative;
    height: 1866px;
}
.sidemenu{
    @include sidemenu();
}

.btn{
    $bg: $green;
    $lh:59px;
    $w:200px;
    $hover:$d-pink;
    @include btn($bg , $lh, $w, $hover);
    margin-bottom: 10px;
    font-size: 20px;
    border: 0;
}
.btn.active{
    background-color: $orange;
}
.prouct-item{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
.prouct-item.active{
    display: flex;
    flex-wrap: wrap;
    
}
.prouct-item-card{
    width: 300px;
    height: 405px;
    border: 5px solid $green;
    margin-left: 20px;
    margin-bottom: 52px;
    position: relative;
}
.prouct-item-card-tag{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.prouct-item-card-tag p{
    display: block;
    height: 24px;
    background-color: $d-pink;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 2px;
    
}
.prouct-item-card-tag-player{
    width: 64px;
}
.prouct-item-card-tag-age{
    width: 40px;
}
.prouct-item-card-img{
    height: 233px;
    margin: 16px auto;
    text-align: center;
}
.prouct-item-card-infro{
    box-sizing: border-box;
    width: 300px;
    height: 126px;
    margin-top: 30px;
    padding: 5px;
    background-color: $green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.prouct-item-card-infro h2,h3{
    color: #fff;
    line-height: 2.5;
    letter-spacing: 5px
}
.prouct-item-card-icon{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #fff;
}
.custom-icon{
    font-size:25px;
    color: $green;
}
.product-page{
    display: flex;
    margin: 10px auto;
    justify-content: space-evenly;
}
.product-page button{
    border: 0;
    background-color: #ffffff00;
    cursor: pointer ;
}
.product-page ul{
    display: flex;
    justify-content: center;
}
.product-page ul li{
   margin-right: 18px;
}
.product-page ul li a.active{
    color: $d-pink;
 }