.product-wrapper{
    color: $brown;
}
button{
    cursor: pointer;
}
.infor-top{
    width: 100%;
    margin-top: 40px;
}
.breadcrumb-item.active a{
color: $orange;
font-weight: 600;
}
.infor-item{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.infor-item-img{
    display: flex;
}
.infor-item-img-sm{
    margin-top: 28px;
    margin-right: 45px;
    width: 102px;
}
.infor-item-img-bg{
    text-align: center;
    width: 500px;
}
.infor-item-img-sm img{
    width: 100%;
}
.infor-item-img-bg img{
    width: 90%;
}
.infor-item-infro h1{
    margin-bottom: 20px;
    font-weight: 700;
}
.infor-item-infro p{
    margin-bottom: 10px;
    font-size: 20px;
}
.sel-amount{
    border: 1px solid #0000004f;
    height: 45px;
    margin: 0 auto;
    line-height: 2;
    display: flex;
}
.sel-amount button, input{
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    height: 46.3px;
    font-size: 20px;
    padding: 0;
}
.sel-amount button{
    font-weight: 800;
    font-size: 30px;
    width: 56px;
    height: 46.3px;
}
.sel-amount button:hover{
    background-color: $d-pink;
}
.intro{
    margin-bottom: 20px;
}
.infor-item-infro h2{
    margin-bottom: 45px;
    margin-top: 45px;
    font-weight: 800;
}
.infor-item-buy{
    display: flex;
    justify-content: space-between;
}
.infor-item .btn{
    max-width: 500px;
    background-color: $orange;
    height: 52px;
    line-height: 2;
    margin-top: 10px;
    border-radius: 5px;
}
.infor-detail-nav{
    display: flex;
    margin-top: 30px;
    height: 90px;
}
.product-top h2,.product-main h2,.product-page h2{
    color: $brown;
}
.infor-detail-nav button{
    background-color: #ffffff00;
    border: 0;
    border-bottom: 2px solid $brown;
}
.infor-detail-nav button.active{
   font-weight: 700;
    border-bottom: 2px solid $orange;
}
.infor-detail-contain section{
    line-height: 2.5;
    font-size: 16px;
    margin-top: 20px;
}
.infor-bottom {
    
}
.infor-bottom h2{
    margin-top: 100px;
    color: $brown;
    font-weight: 700;
    border-bottom:1px solid  $brown;
}
.infor-bottom-item{
    display: flex;
    overflow: hidden;
    margin-left: 0;
    margin-top: 20px;
    justify-content: space-between;
}
.prouct-item-card{
    margin-left: 0;
    width: 266px;
}
.prouct-item-card-infro{
    width: 266px;
}
.prouct-item-card-infro div h2{
    color: #fff;
    margin-top: 10px;
    border: 0;
}
.prouct-item-card-infro button{
    border-radius: 100%;
    background-color: #fff;
    width: 56px;
    height: 56px;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-icon{
    margin: 0 auto;
}
.fa-star{
    color: #ffe100;
}
.infor-detail-star-rank,.infor-detail-star-rank ul{
    display: flex;
    justify-content: space-evenly;
    letter-spacing:2px;
}
.infor-detail-star-comment{
    height: 350px;
    overflow: auto;
}