.registerRedirect_wrapper{
  width: 1200px;
  margin: 0 auto;
}
.registerRedirect_box{
  width: 671px;
  height: 573px;
  margin: 0 auto;
  background: #F2F2F2;
  box-shadow: $shadow;
  margin-top: 50px;
  margin-bottom: 70px;
  box-sizing: border-box;
  .registerRedirect_logo{
    padding-top: 45px;
    height: 80px;
  }
    .registerRedirect_logo_img{
      display: block;
      margin: 40px auto;
      // border: 3px solid palegreen;
      width: 170px;
      height: 41px;
      
      margin-bottom: 40px;
    }
      .registerRedirect_completed{
        .fa-solid{
        display: block;
        font-size: 100px;
        color: $orange;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        }
      }
        .registerRedirect_p_text{
        font-size: $h1_sub;
        color: $orange;
        text-align: center;
        margin-bottom: 25px;
        }
}

@media screen and (max-width:414px){
.wrapper{
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}
.registerRedirect_box{
  margin-top: 50px;
  width: 370px;
  // height: 401px;
  border: 5px solid palegreen;
}



.registerRedirect_box .registerRedirect_p_text {
  font-size: 19px;
  margin-bottom: 70px;
}













}










