
.registerRedirect_box{
  width: 671px;
  height: 573px;
  margin: 0 auto;
  background: #F2F2F2;
  box-shadow: $shadow;
  border: 5px solid gold;
    .registerRedirect_logo{
      display: block;
      margin: 0 auto;
      border: 5px solid palegreen;
      width: 170px;
      height: 41px;
      margin-top: 105px;
      margin-bottom: 40px;
    }
      .registerRedirect_completed{
        .fa-solid{
        display: block;
        font-size: 100px;
        color: $orange;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 100px;
        }
      }
        .registerRedirect_p_text{
        font-size: $p;
        color: $orange;
        text-align: center;
        margin-bottom: 0px;
        }
}












