h1{
    font-size: 38px;
    line-height: 40px;
    letter-spacing: .1em;
    color: $brown;
    font-weight: 500;
}
h2{
    font-size: 32px;
    line-height: 40px;
    letter-spacing: .1em;
    color: $brown;
}