.ms_pagination {
    display: flex;
    margin: 20px auto;
    align-items: center;
    li {
        cursor: pointer;
    }
    a {
        margin: 10px;
        font-size: $p;
        display: block;
    }
    li:hover a {
        display: block;
        color: white;
        transition: .2s;
        cursor: pointer;
    }
    li:hover {
        background-color: $orange;
    }
}