// 按鈕樣式
@mixin btn($bg , $lh, $w, $hover){
    background: $bg;
    line-height: $lh;
    width: $w;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    box-shadow: $shadow;
    transition: .3s;
    cursor: pointer ;
    color: #fff;
    &:hover{
        background: $hover;
    }
};

// input text欄位
@mixin input-text($lh, $w){
    padding-left: 20px;
    line-height: $lh;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: $p;
    width: $w;
    box-sizing: border-box;
    outline: none;
    letter-spacing: 1px;
}

// 側邊選單
@mixin sidemenu(){
    display: block;
    text-decoration: none;
    border-radius: 5px;
    line-height: 59px;
    width: 200px;
    color: #fff;
    box-sizing: border-box;
    padding-left:35px;
    font-size: $h3;
    background: $green;
    margin-bottom: 10px;
    transition: .3s;
    letter-spacing: 2px;
    &:hover{
        background: $orange;
    }
}

// flex排版
@mixin flex-container($direction: row, $wrap: wrap, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin wrapper(){
    width: 1200px;
    margin: 0 auto;
}


//item card
@mixin itemCard($cw,$ch,$imgh){
        width: $cw;
        height: $ch;
        border: 5px solid $green;
        margin-left: 20px;
        margin-bottom: 52px;
        position: relative; 
        img{
            height: $imgh;
            margin: 16px auto;
            text-align: center;
        }
}
@mixin itemCardTag{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p{
        display: block;
        height: 24px;
        background-color: $d-pink;
        color: #fff;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 2px; 
    }
}
@mixin itemCardPlayer{
        width: 64px;
}
@mixin itemCardAge{
    width: 40px;
}
@mixin itemCardInfor{
        box-sizing: border-box;
        width: $cw;
        height: $ch;
        margin-top: 30px;
        padding: 5px;
        background-color: $green;
        display: flex;
        justify-content: space-around;
        align-items: center;
        h2,h3{
           color: #fff;
            line-height: 2.5;
            letter-spacing: 5px 
        }
}
//下拉式選單
@mixin drowDown($w,$h,$liW,$liH){
    width: $w;
    text-align: center;
    display: flex;
    flex-direction: column;
    button{
        width: 100%;
        height: $h;
        background-color: $orange ;
        border-radius: 5px;
        border: 0;
        font-size: 20px; 
        color: #fff;
        position: relative;
        cursor: pointer ;
    }
    ul{
        display: block;
        position: absolute;
        z-index: 1;
        li{
            width: $liW;
            height: $liH;
            text-align: center;
            background-color: $orange ;
            color: #fff;
            display: none;
        }
    }
}
@mixin btnn($w){
    .btn{
        padding: 8px 16px;
        text-align: center;
        max-width: $w;
        cursor: pointer;
        transition: all .3s;
        // border-radius: 2 * 5 +px;
        border-radius: 10px;
        background-color: #AFBF30;
        // border: 1px solid $bc;
        @content;
        &:hover{
            // background-color: darken($bgc,10);
            background-color: salmon;
        };
        &__submit{
            background :#F29441;
        }
        &__addCart{      
            background :#F29441;
        }
}
}

// 字形
@mixin h1_pri(){
    font-family: 'Noto Sans TC', sans-serif;
    font-size: $h1_pri;
    letter-spacing: 2px;
}

@mixin h1_sub(){
    font-family: 'Noto Sans TC', sans-serif;
    font-size: $h1_sub;
    letter-spacing: 2px;
}

@mixin h2(){
    font-family: 'Noto Sans TC', sans-serif;
    font-size: $h2;
    letter-spacing: 1px;
}

@mixin Label(){
        background-color: $b-pink;
        font-size: $p;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
        letter-spacing: 3px;   
}
//留言或商品評論
@mixin starComment(){
    article{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(201, 201, 201);
    }
}
@mixin starCommentTop(){
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        img{
            display: block;
            width: 30px;
            height: 30px;
        }
        ul{
            display: flex;
        }
}
@mixin starCommentMain(){
    align-self: flex-end;
}