// 按鈕樣式

@mixin btn($bg , $lh, $w, $hover){
    background: $bg;
    line-height: $lh;
    width: $w;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    box-shadow: $shadow;
    transition: .3s;
    cursor: pointer ;
    color: #fff;
    &:hover{
        background: $hover;
    }
};

// input text欄位
@mixin input-text($lh, $w){
    padding-left: 20px;
    line-height: $lh;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: $p;
    width: $w;
    box-sizing: border-box;
    outline: none;
    letter-spacing: 1px;
}

// 側邊選單
@mixin sidemenu(){
    display: block;
    text-decoration: none;
    border-radius: 5px;
    line-height: 59px;
    width: 200px;
    color: #fff;
    box-sizing: border-box;
    padding-left:35px;
    font-size: $h3;
    background: $green;
    margin-bottom: 10px;
    transition: .3s;
    letter-spacing: 2px;
    &:hover{
        background: $orange;
    }
}

// flex排版
@mixin flex-container($direction: row, $wrap: wrap, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin wrapper(){
    width: 1200px;
    margin: 0 auto;
}

@mixin btnn($w){
    .btn{
        padding: 8px 16px;
        text-align: center;
        max-width: $w;
        cursor: pointer;
        transition: all .3s;
        border-radius: 2 * 5 +px;
        background-color: #AFBF30;
        // border: 1px solid $bc;
        @content;
        &:hover{
            // background-color: darken($bgc,10);
            background-color: salmon;
        };
        &__submit{
            background :#F29441;
        }
        &__addCart{      

        }
}
}


